%title {
  font-family: $main-font;
  font-size: $title-font-size / 2;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.5;
}

%secondary-title {
  font-family: $main-font;
  font-size: $text-font-size;
  font-weight: 700;
  text-transform: uppercase;
  color: $main-logo-color;
  text-align: left;
  
}

%link {
  text-decoration: none;
  font-family: $main-font;
  font-weight: 700;
}

%button {
  width: 145px;
  height: 30px;
  background-color: $button-color;
  font-family: $main-font;
  font-weight: 700;
  border: none;
  font-size: $text-font-size;
  color: $main-logo-color;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}