%title {
  font-family: $main-font;
  font-size: $mobile-title-font-size;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 17px;
  letter-spacing: 0.5px;

  @media (min-width: 480px) {
    font-size: $small-tablet-title-font-size;
    line-height: $small-tablet-title-line-height;
  }

  @media (min-width: 768px) {
    font-size: $big-tablet-title-font-size;
    line-height: $big-tablet-title-line-height;
  }
}

%text {
  font-family: $main-font;
  font-size: $mobile-text-font-size;
  font-weight: 400;
  line-height: 13px;

  @media (min-width: 480px) {
    font-size: $small-tablet-text-font-size;
    line-height: $small-tablet-text-line-height;
  }

  @media (min-width: 768px) {
    font-size: $mobile-text-font-size;
    line-height: $mobile-text-line-height;
  }
}

%mark-blue {
  background-color: $light-blue;
  color: $black;
}

%mark-black {
  background-color: $black;
  color: $white;
}

%button {
  display: block;
  width: 145px;
  height: 35px;
  background-color: $orange;
  font-family: $main-font;
  font-weight: 900;
  border: none;
  font-size: $mobile-text-font-size;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

  @media (min-width: 480px) {
    width: 200px;
    height: 45px;
    font-size: $small-tablet-text-font-size;
    line-height: $small-tablet-text-line-height;
  }
}

%button:hover {
  background-color: $white;
  color: $orange;
  box-sizing: 0 0 5px 5px $orange;
  border: 1px solid $orange;
}

%main-think {
  @extend %text;
  font-weight: 900;
  position: relative;
  padding-left: 20px;

  &::before {
    content: "";
    display: block;
    width: 13px;
    height: 1px;
    background-color: $black;
    position: absolute;
    left: -8px;
    top: 7px;

    @media (min-width: 480px) {
      height: 2px;
      width: 20px;
      left: -15px;
    }
  }
}

%list {
  @extend %text;
  counter-reset: item;
  list-style: none;
  width: 165px;
  margin: 0 auto;

  @media (min-width: 480px) {
    width: 240px;
  }

  li {
    margin-top: 15px;
    position: relative;

    &::before {
      content: "[ 00" counter(item) " ]";

      counter-increment: item;
      color: $white;
      background-color: $orange;
      transform: rotate(270deg);
      position: absolute;
      left: -25px;
      top: 10px;

      @media (min-width: 480px) {
        left: -40px;
        top: 15px;
        line-height: 15px;
      }
    }

    p:first-child {
      font-weight: 700;
    }

    p:last-child {
      margin-top: 5px;
    }
  }
}
