$main-font: "Lato", sans-serif; //Acrom

$mobile-title-font-size: 14px;
$mobile-text-font-size: 9px;

$mobile-text-line-height: 13px;

$small-tablet-title-font-size: 20px;
$small-tablet-title-line-height: 25px;

$big-tablet-title-font-size: 26px;
$big-tablet-title-line-height: 33px;

$small-tablet-text-font-size: 13px;
$small-tablet-text-line-height: 19px;

$orange: #ff6b08;
$white: #fff;
$black: #000000;
$gray: #3f4144;
$light-gray: #909398;
$light-blue: #16ebfe;
$dark-blue: #052139;
