$main-font: "Lato", sans-serif; //Acrom

$mobile-title-font-size: 14px;
$mobile-text-font-size: 9px;

$orange: #ff6b08;
$white: #fff;
$black: #000000;
$gray: #3f4144;
$light-blue: #16ebfe;
$dark-blue: #052139;
