$main-font: 'Roboto', sans-serif;
$title-font-size: 12px;

$button-color: #ff6b08;
$main-logo-color: #fff;
$main-words-color: #000000;
$text-color: #afb0b3;
$mark-color: #16ebfe;
$back-namber-color: #f2f2f2;
$header-footer: #052139;
