
<div class="about-warning">
    <h2 class="head-block">Однако предупреждаем</h2>
    <p class="lead">Получить навыки, нужные, чтобы зарабатывать в IT может быть долго и сложно….</p>
    <ul class="about-warning__list">
        <li class="about-warning__item">
            <div class="about-warning__name">непонятный «программистский» язык</div>
            <div class="about-warning__text">От которого у нормального человека просто пухнет голова</div>
        </li>

        <li class="about-warning__item">
            <div class="about-warning__name">неясно, что именно читать и учит</div>
            <div class="about-warning__text">Чтобы не просто знать, но и получить реальную работу.</div>
        </li>

        <li class="about-warning__item">
            <div class="about-warning__name">в Интернете полно теории</div>
            <div class="about-warning__text">Однако теория не ведет к деньгам, она просто отнимает твое время</div>
        </li>

        <li class="about-warning__item">
            <div class="about-warning__name">легко сдаться и все бросить</div>
            <div class="about-warning__text">Без поддержки и источника мотивации</div>
        </li>

        <li class="about-warning__item">
                <div class="about-warning__name">проще пойти раздавать листовки на улице, чем продолжать </div>
                <div class="about-warning__text">Если ты не видишь быстрого роста навыков и денежного «выхлопа» от изучения </div>
            </li>
    </ul>
</div>