<section class="act">
    <h2 class="act__title">[ действуй - регистрируйся, оплачивай_ ]</h2>
    <div class="act__get">
        <p>И получи доступ к твоему видео-курсу уже сегодня!</p>
    </div>
    <button class="act__button">Забрать видео-курс</button>
    
    <div class="act__postscriptum">
        <h3 class="act__title--second">p.s.:</h3>
        <div class="act__conclusion">
            <p class="act__main-words">Да, сейчас ты можешь закрыть эту страницу… Подумать, “это не для меня”, “я слишком стар”, “я слишком молод”, “как-то в другой раз, не сейчас”. И… почти ничего не измениться.</p>
        </div>
        <div class="act__conclusion">
            <p>Останется ненавистная работа, денег все так же не будет хватать. Добавится больше ескуки, разочарования, усталости…</p>
        </div>
        <div class="act__conclusion">
            <p><span class="act__main-words">Или ты можешь сейчас зарегистрироваться 
            на видео-курс</span> и открыть для себя новый путь в классную профессию, интересную жизнь, путь к большим деньгам и статусу.</p>
        </div class="act__conclusion">
        <div class="act__conclusion act__conclusion--right"><p class="act__main-words--orange">Выбор за тобой ...</p></div>
    </div>
</section>