<section class="act">
  <div class="act__title-container">
    <h2 class="act__title">[ Действуй - регистрируйся оплачивай_ ]</h2>
    <p class="act__text act__text--main">
      И получи доступ к твоему видео-курсу уже сегодня!
    </p>
    <button class="act__button">Забрать видео курс</button>
    <picture class="act__image">
      <img src="./images/act-768.png" alt="" />
    </picture>
  </div>
  <div class="act__text-container">
    <p class="act__text act__text--ps"><span>p. s.:</span></p>
    <p class="act__text act__text--bold">
      Да, сейчас ты можешь закрыть эту страницу... Подумать, "это не для меня",
      "я слишком стар", "я слишком молод", "как-то в другой раз, не сейчас".
      И... почти ничего не измениться.
    </p>
    <p class="act__text">
      Отсанется ненавистная работа, денег все так же будет не хватать. Добавится
      больше скуки, разочарования, усталости...
    </p>
    <p class="act__text">
      <span>Или ты можешь сейчас зарегестрироваться на видео-курс </span>и
      открыть для себя новый путь в классную профессию, интересную жизнь, путь к
      большим деньгам и статусу.
    </p>
    <p class="act__text act__text--orange">Выбор за тобой ...</p>
  </div>
</section>
