<div class="after-course">
    <h2 class="after-course__main-title">[ Что ты получишь  после курса_ ]</h2>
    <ul class="after-course-list">
        <li class="after-course-list-item">
            <div class="list-item-mark">
                <div class="list-item-mark-number"><p>01.</p></div>
                <div class="list-item-mark-mark"></div>
            </div>
            <h6 class="after-course-list-item__title">Окунешься в IT</h6>
            <p class="after-course-list-item__text">Без необходимости сразу учить  кучу терминов. </p>
        </li>
        <li class="after-course-list-item">
            <div class="list-item-mark">
                <div class="list-item-mark-number"><p>02.</p></div>
                <div class="list-item-mark-mark"></div>
            </div>
            <h6 class="after-course-list-item__title">Научишься создавать сайты</h6>
            <p class="after-course-list-item__text">За которые тебе будут готовы  достойно платить.</p>
        </li>
        <li class="after-course-list-item">
            <div class="list-item-mark">
                <div class="list-item-mark-number"><p>03.</p></div>
                <div class="list-item-mark-mark"></div>
            </div>
            <h6 class="after-course-list-item__title">Получишь возможность  работать мышкой</h6>
            <p class="after-course-list-item__text">Чтобы не пришлось работать  лопатой.</p>
        </li>
    </ul>
    <p class="after-course__the-rest">… и много-много другого.</p>
    <button class="after-course__button"><a href="#" class="after_course__button--link">получить видео-курс</a></button>
</div>