<div class="after-course__wrapper">
    <h2 class="study-goit__main-title">[ Что ты получишь  после курса_ ]</h2>
    <ul class="after-course__list">
        <li class="after-course__list-item">
            <h6 class="after-course__list-item--title">Окунешься в IT</h6>
            <p class="after-course__list-item--text">Без необходимости сразу учить  кучу терминов. </p>
        </li>
        <li class="after-course__list-item">
            <h6 class="after-course__list-item--title">Научишься создавать сайты</h6>
            <p class="after-course__list-item--text">За которые тебе будут готовы  достойно платить.</p>
        </li>
        <li class="after-course__list-item">
            <h6 class="after-course__list-item--title">Получишь возможность  работать мышкой</h6>
            <p class="after-course__list-item--text">Чтобы не пришлось работать  лопатой.</p>
        </li>
    </ul>
    <p class="after_course__the-rest">… и много-много другого.</p>
    <button class="after_course__button"><a href="#" class="after_course__button--link">получить видео-курс</a></button>
</div>