<section class="block-three">
    <h2 class="heading-three"> За IT сытое и стабильное будущее</h2>
    <p class="three-item">Тебе не придется парится где взять работу/пенсию/доход. </p>
    <p class="three-item">Мир будущего в твоих руках. Если ты хочешь зарабатывать больше денег, быть уверенным в будущем и получить статус успешного человека — ты можешь получить это все, стартовав карьеру в IT как можно скорее!</p>
    <h2 class="heading-three">[ при этом Кроме цифр_ ]</h2>
    <p class="three-item"> У web-разработчиков есть и другие преимущества, которые тебе понравятся... </p>
 <ul>
    <li>
       <h3>работаешь в удобное время</h3>
       <p> — Обычно перед разработчиком ставят задачу и срок, а когда делать работу — решаешь ты;</p>
    </li>
    <li>
       <h3>можешь сам выбирать работодателя</h3>
       <p> Ты можешь пойти работать в крупную компанию, или наоборот в молодой стартап;</p>
 </li>
 <li >
       <h3>огромная перспектива для роста и развития</h3>
       <p>С возможностью перейти на работу в международную компанию, переехать в другой город или страну, чтобы жить так, как ты хочешь </p>
 </li>
 <li>
      <h3>получить статус успешного человека</h3>
      <p>Который сделал свою жизнь жизнью мечты, добился успеха, обеспечивает себя и свою семью</p>
 </li>
 </ul>
 <h2>[ Смотри, как обычные люди ... ]</h2>
 <p>Которые даже в школе не изучали программирование, без гениальных навыков в математике, невероятных талантов природных способностей и блата сделали свой прорыв в IT!</p>
 <figure>
    <img src="../images/photo1.png" alt="Nina Miroshnychenko">
    <figcaption>Nina Miroshnychenko</figcaption>
 </figure>
 <div>Мені дуже сподобалися курси від GoIT (пройшла першу частину Frontend восени 2017р.)! Я випадково знайшла ці курси у Facebook. Пройшла пробний тест. Потім зі мною зв’язалися і пояснили всі деталі навчання. Мені було дуже цікаво, але все ж були й сумніви. Проте я пішла на курс і не пошкодувала ні разу! У мене був надзвичайний ментор — Alexander Repeta. Матеріалу було багато, вебінари були насичені, все зрозуміло пояснювали, жодне питання не залишилося без відповіді, завдання теж швидко перевіряв. Soft Skills викладав Антон Чорний, і теж було цікаво. Стільки всього нового, з цікавими 
         прикладами. З організаційними та технічними питаннями проблем не було: були всі доступи і весь матеріал. Навчання було нелегким. Потрібно багато часу щоб розібрати матеріал, інколи і вебінари повторно  проглядала. В результаті маю гарні знання та сертифікат ) Також команда GoIT допомогла мені знайти перше місце роботи — за це окремо дуже дякую! Тепер я знаю куди звертатися за знаннями ))) Я рада, що GoIT розширює напрямки курсів — це здорово і дуже потрібно! Дякую!!!</div>
 </section>
