<section class="block-two">
    <h2 class="heading">[ Вот сухие факты_ ]</h2>
    <p class="headin-item">IT-отрасль — №1 в СНГ  по выводу денег с фрилансерских бирж и по росту количества вакансий. </p>
    <ul class="heading-block">
      <li class="list-block-item">
        <h3 class="value">1-е [ Место ]</h3>
        <p class="value-item">[ По аутсорсингу среди стран Восточной Европы ]</p>
        <p class="describe-value">Количество вакансий для web-разработчиком в Украине постоянно растет (на 18% ежегодно).</p>
      </li>
      <li class="list-block-item">
        <h3 class="value">20 [ тыс. ]</h3>
        <p class="value-item">[ Новых рабочих мест в IT появляется ежегодно ] </p>
     </li>
     <li class="list-block-item">
       <h3 class="value">3-й</h3>
       <p class="value-item">[ По объему экспорта сектор экономики в Украине ]</p>
     </li>
     <li class="list-block-item">
       <h3 class="value">$ 2000</h3>
       <p class="value-item">[ Средняя зарплата специалиста отрасли ]</p>
       <p class="describe-value">По данным крупнейшего ресурса фрилансеров Upwork: «Украинские разработчики в среднем получают от 20 до 30 $/час» </p>
    </li>
  </ul>
  <img src="../images/coffe@1.png" alt="coffe">
  </section>