<section class="block-one">
       <h1 class="background">&#91;пошаговый видео &ndash; курс_ &#93;</h1>
       <p class="background-item">&laquo;cтарт в карьере web-разработчика с 0» для тех, кто давно хотел зарабатывать больше работая в <span class="capital-letter">it</span>, но не знал, где реализовать себя	&raquo;</p>
       <div class="backgroundg-middel"><span>goit</span></div>
       <p class="background-target">открой для себя способ начать карьеру в сфере <span class="capital-letter">it</span></p>
       <div class="attitude"><p>&frasl;<span class="capital-letter">б</span>ез математического склада ума, работая в комфортных условиях по приятному графику над интересными задачами и получая доход в $$$.</p></div>
       <button class="pay-click">приобрести курс</button>
    </section> 