
   <section class="block-one">
       <div class="background">
          <h1 class="bg-heading">[ пошаговый видео &ndash; курс_ ]</h1>
       </div>
       <p class="bg-item">Старт в карьере web-разработчика с 0» для тех, кто давно хотел зарабатывать больше работая в IT, но не знал, где реализовать себя</p>
       <div class="bg-middel"><span>goit</span></div>
       <p class="bg-middel-item">Открой для себя способ начать карьеру в сфере IT</p>
       <p class="bg-bottom">/ Без математического склада ума, работая в комфортных условиях по приятному графику над интересными задачами и получая доход в $$$.</p>
       <button class="pay-click">приобрести курс</button>
       <p class="description-career"> Хочешь работать в комфортных условиях и крутым коллективом? Хочешь получать зарплату в 2-3 раза выше,чем средняя в твоем городе без необходимости переезжать? </p>
       <img src="../images/laptop@1.png" alt="laptop">
       <div class="propose">
          <p class="propose-item">Тогда Возможно, тебе тоже</p>
          <h2 class="propose-top">[ пора начать зарабатывать в IT?_ ]</h2>
       </div>
       <div class="propose-list">
          <h2 class="propose-list-top">Если ты:</h2>
          <ul class="list-block">
             <li class="list-block-item">Устал бояться кризисов изменений власти и просто  хочешь зарабатывать достойные деньги для себя и своей семьи, спокойно и с уверенностью смотреть в будущее</li>
             <li class="list-block-item">Задолбался впахивать как ломовая лошадь 250 дней в году чтобы на 1,5 недели съездить в Турцию с детьми, где они вымотают тебя окончательно</li>
             <li class="list-block-item">Хочешь наконец-то найти такой вариант заработка чтобы зарабатывать хорошие деньги и все еще иметь время на любимые «танки»</li>
             <li class="list-block-item">Устал приходить утром в нудный офис где все корчат дружелюбных, а на деле каждый мечтает тебя «подсидеть»</li>
             <li class="list-block-item">Устал приходить утром в нудный офис где все корчат дружелюбных, а на деле каждый мечтает тебя «подсидеть»</li>
             <li class="list-block-item">Тебя пилит жена за то, что ты играешь в игры а на самом деле тебя  просто достала рутина на работе и ты хочешь расслабиться</li>
             <li class="list-block-item">Хочешь сменить статус с «офисного планктона» на «крутого IT-шника»</li>
             <li class="list-block-item"> Хочешь сменить статус с «офисного планктона» на «крутого IT-шника»</li>
          </ul>
          </div>
          <div class="propose-footter"> … тогда пришло время стартовать карьеру в веб-разработке, чтобы осуществить свои желания и раскрыть потенциал! </div>
    </section>