<section class="block-three">
    <h2 class="heading">&#91;Вот сухие факты_ &#93;</h2>
    <div class="headin-item"><span class="capital-letter">it</span>-отрасль — №1 в <span class="capital-letter">cнг </span> по выводу денег с фрилансерских бирж и по росту количества вакансий.</span></div>
    <ul class="heading-block">
      <li class="list-block-value">
        <h3 class="value">1<span class="capital-letter">&ndash;е</span> &#91;<span class="lower-letter">место</span>&#93;</h3>
        <p class="value-item item-one">&#91;По аутсорсингу среди стран Восточной Европы &#93;</p>
        <p class="describe-value">Количество вакансий для web-разработчиком в Украине постоянно растет (на 18% ежегодно).</p>
      </li>
      <li class="list-block-value">
        <h3 class="value">20 &#91;тыс.&#93;</h3>
        <p class="value-item item-one"> &#91;Новых рабочих мест в IT появляется ежегодно&#93;</p>
     </li>
     <li class="list-block-value">
       <h3 class="value">3-й</h3>
       <p class="value-item item-two">&#91;По объему экспорта сектор экономики в Украине&#93;</p>
     </li>
     <li class="list-block-value">
       <h3 class="value">$ 2000</h3>
       <p class="value-item ">&#91;<span class="item-one">Средняя зарплата специалиста отрасли &#93;</span></p>
       <p class="describe-value">По данным крупнейшего ресурса фрилансеров Upwork: «Украинские разработчики в среднем получают от 20 до 30 $/час» </p>
    </li>
  </ul>
  <img src="../images/coffe@1.png" alt="coffe">
  <h2 class="heading-three"> За IT сытое и стабильное будущее</h2>
  <p class="three-item">Тебе не придется парится где взять работу/пенсию/доход. </p>
  <p class="three-item">Мир будущего в твоих руках. Если ты хочешь зарабатывать больше денег, быть уверенным в будущем и получить статус успешного человека — ты можешь получить это все, стартовав карьеру в IT как можно скорее!</p>
  <h2 class="heading-three">[ при этом Кроме цифр_ ]</h2>
  <p class="three-item"> У web-разработчиков есть и другие преимущества, которые тебе понравятся... </p>
<ul>
  <li>
     <h3>работаешь в удобное время</h3>
     <p> — Обычно перед разработчиком ставят задачу и срок, а когда делать работу — решаешь ты;</p>
  </li>
  <li>
     <h3>можешь сам выбирать работодателя</h3>
     <p> Ты можешь пойти работать в крупную компанию, или наоборот в молодой стартап;</p>
</li>
<li >
     <h3>огромная перспектива для роста и развития</h3>
     <p>С возможностью перейти на работу в международную компанию, переехать в другой город или страну, чтобы жить так, как ты хочешь </p>
</li>
<li>
    <h3>получить статус успешного человека</h3>
    <p>Который сделал свою жизнь жизнью мечты, добился успеха, обеспечивает себя и свою семью</p>
</li>
</ul>
  </section>