<section class="bonuse">
  <div>
    <h2 class="bonuse__title">
      <span class="background-title--black">[ плюс получи бонусы_ ]</span>
    </h2>
    <div class="bonuse__about">
      <p>Которые помогут тебе быстрее стартовать карьеру разработчика</p>
    </div>
    <ul class="bonuse__list">
      <li class="bonuse__list-item">
        <div class="mark-list-item">
          <div class="number"><p>01.</p></div>
          <div class="mark"></div>
        </div>
        <div class="about-item">
          <h3 class="about-item__title">PDF "карта профессий в IT"</h3>
          <p class="about-item__text">
            Чтобы видеть, куда дальше двигаться и какие перспективы тебя ожидают
            -
            <span class="background-title--black black">ценность 215 грн</span>
          </p>
        </div>
      </li>
      <li class="bonuse__list-item">
        <div class="mark-list-item">
          <div class="number"><p>02.</p></div>
          <div class="mark"></div>
        </div>
        <div class="about-item">
          <h3 class="about-item__title">
            PDF "переводчик с it-языка на человеческий"
          </h3>
          <p class="about-item__text">
            Чтобы ты смог быстро стать своим в тусовке -
            <span class="background-title--black black">ценность 320 грн</span>
          </p>
        </div>
      </li>
    </ul>
  </div>
  <form class="form" action="#" method="get">
    <label class="form__input-title" for="name">Имя</label>
    <input
      class="form__input"
      type="text"
      name="name"
      id="name"
      placeholder="Как вас зовут?"
    />
    <label class="form__input-title" for="tel">Телефон</label>
    <input
      class="form__input"
      type="tel"
      name="tel"
      id="tel"
      placeholder="Ваш номер телефона"
    />
    <label class="form__input-title" for="email">E-mail</label>
    <input
      class="form__input"
      type="email"
      name="email"
      id="email"
      placeholder="Адрес электронного ящика"
    />
    <button class="form__button">Приобрести видео-курс</button>
  </form>
</section>
