<div class="by-the-hand">
    <h2 class="study-goit__main-title">[ Он за руку введет  тебя в профессию ]</h2>
    <p class="study-goit__cup-of-tea">И буквально «имплантирует» свои практические навыки в твой мозг, чтобы ты смог стартовать легко!</p>
    <section class="by-the-hand__background--box">
        <img src="../images/by-the-hand.png" alt="Курсы IT" class="by-the-hand__background--photo">
    </section>
    <section class="by-the-hand__box">
        <h6 class="by-the-hand__box--title">У него ушло более 7 лет чтобы создать систему обучения</h6>
        <p class="by-the-hand__box--text">Простую понятную, легкую не  для «математических гениев», а для обычных людей, чтобы оюбой смог быстро начать карьеру в IT!</p>
    </section>
</div>