<div class="by-the-hand">
    <h2 class="by-the-hand__main-title">[ Он за руку введет  тебя в профессию ]</h2>
    <p class="by-the-hand__main-text">И буквально «имплантирует» свои практические навыки в твой мозг, чтобы ты смог стартовать легко!</p>
    <section class="by-the-hand-img">
        <img src="../images/by-the-hand.png" alt="Курсы IT">
    </section>
    <section class="text-box">
        <h6 class="text-box__title">У него ушло более 7 лет чтобы создать систему обучения</h6>
        <p class="text-box__text">Простую понятную, легкую не  для «математических гениев», а для обычных людей, чтобы оюбой смог быстро начать карьеру в IT!</p>
    </section>
</div>