<div class="career">
  <picture class="career_image">
    <source
      srcset="./images/many-people-3_480.png"
      media="(min-width: 480px)"
    />
    <img src="./images/many-people-3.png" alt="many people" />
  </picture>
  <div class="career__title-container order">
    <h2 class="career_title">
      [ Карьера веб- -разработчика_ ]
    </h2>
    <p class="career_text career_text--main">
      Это твоя возможность зарабатывать в IT без необходимости изучать тоный
      нудной теории, которая не ведет к заветной работе и деньгам
    </p>
  </div>
  <picture class="career_image order">
    <source srcset="./images/career960.png" media="(min-width: 960px)" />
    <source srcset="./images/career768.png" media="(min-width: 768px)" />
    <source srcset="./images/career480.png" media="(min-width: 480px)" />
    <img src="./images/career.png" alt="many people" />
  </picture>
  <div class="career_text-container">
    <p class="career_text career_text--title">Веб-разработчик</p>
    <p class="career_text career_text--description">
      - Это специалист, который делает красивые сайты, интересные приложения, и
      всякие "клевые штуки", за которые хорошо платят. При этом стать
      разаработчиком может каждый, у кого было в школе 4ка по информатике и у
      кого достаточно желания и уопрства
    </p>
  </div>
</div>
