<div class="dry-facts">
  <div class="dry-facts__head">
    <h2 class="dry-facts_title dry-facts_title--first">[ Вот сухие факты_ ]</h2>
    <p class="dry-facts_text dry-facts_text--first">
      IT-отрасль - №1 в СНГ по выводу денег с фрилансерских бирж и по росту
      количества вакансий
    </p>
  </div>
  <ul class="dry-facts-list">
    <li class="dry-facts-item">
      <p class="dry-facts-item_text dry-facts-item_text--item-title">
        <span>1-е </span>[ место ]
      </p>
      <p class="dry-facts-item_text">
        <span class="dry-facts-item_text--item-subtitle"
          >[ По аутсорсингу среди стран Восточной Европы ]</span
        >
      </p>
      <p class="dry-facts-item_text dry-facts-item_text--item-description">
        Количество вакансий для web-разработчиков в Украине постоянно растет (на
        18% ежегодно)
      </p>
    </li>
    <li class="dry-facts-item order-last">
      <p class=" dry-facts-item_text dry-facts-item_text--item-title">
        <span>20 </span>[ тыс ]
      </p>
      <p class="dry-facts-item_text">
        <span class="dry-facts-item_text--item-subtitle"
          >[ Новых рабочих мест в IT появляется ежегодно ]</span
        >
      </p>
    </li>
    <li class="dry-facts-item order-last">
      <p class="dry-facts-item_text dry-facts-item_text--item-title">
        <span>3-й </span>
      </p>
      <p class="dry-facts-item_text">
        <span class="dry-facts-item_text--item-subtitle"
          >[ По объему экспорта сектор экономики в Украине ]</span
        >
      </p>
    </li>
    <li class="dry-facts-item">
      <p class="dry-facts-item_text dry-facts-item_text--item-title">
        <span>$ 2000</span>
      </p>
      <p class="dry-facts-item_text">
        <span class="dry-facts-item_text--item-subtitle"
          >[ Средняя зарплата специалиста отрасли ]</span
        >
      </p>
      <p class="dry-facts-item_text dry-facts-item_text--item-description">
        По данным крупнейшего ресурса фрилансеров Upwork: "Украинские
        разработчики в среднем получают от 20 до 30 $/час"
      </p>
    </li>
  </ul>
  <picture class="dry-facts__graph">
    <source srcset="" media="(min-width: 1400px)" />
    <source srcset="" media="(min-width: 1200px)" />
    <img src="../images/dry-facts-graph768.png" alt="go it" />
  </picture>
</div>
