<div>
  <h2>[ Вот сухие факты_ ]</h2>
  <p>
    IT-отрасль - №1 в СНГ по выводу денег с фрилансерских бирж и по росту
    количества вакансий
  </p>
  <ul>
    <li>
      <p><span>1-е</span>[ место ]</p>
      <p>[ По аутсорсингу среди стран Восточной Европы ]</p>
      <p>
        Количество вакансий для web-разработчиков в Украине постоянно растет (на
        18% ежегодно)
      </p>
    </li>
    <li>
      <p><span>20</span>[ тыс ]</p>
      <p>[ Новых рабочих мест в IT появляется ежегодно ]</p>
    </li>
    <li>
      <p><span>3-й</span></p>
      <p>[ По объему экспорта сектор экономики в Украине ]</p>
    </li>
    <li>
      <p><span>$ 2000</span></p>
      <p>[ Средняя зарплата специалиста отрасли ]</p>
      <p>
        По данным крупнейшего ресурса фрилансеров Upwork: "Украинские
        разработчики в среднем получают от 20 до 30 $/час"
      </p>
    </li>
  </ul>
  <picture class="navigation_logo">
    <source srcset="" media="(min-width: 1400px)" />
    <source srcset="" media="(min-width: 1200px)" />
    <source srcset="" media="(min-width: 800px)" />
    <source srcset="../images/logo_goit480.png" media="(min-width: 480px)" />

    <img src="../images/logo_goit480.png" alt="logo goit" />
  </picture>
  <h2>За IT сытое и стабильное будущее</h2>
  <p>Тебе не придется парится где взять работу/пенсию/доход</p>
  <p>
    Мир будущего в твоих руках. Если ты хочешь заработывать больше денег, быть
    уверенным в будущем и получить статус успешного человека -
    <span
      >ты можешь получить это все, стартовав карьеру в IT как можно
      скорее!</span
    >
  </p>
</div>
