<div class="except-numbers">
  <h2 class="except-numbers_title">[При этом кроме цифр_ ]</h2>
  <p class="except-numbers_text">
    У web-разработчиков есть и другие преимущества, которые тебе понравятся...
  </p>
  <ul class="except-numbers_list">
    <li class="except-numbers_item">
      <p class="except-numbers_item-title">Работаешь в удобное время</p>
      <p class="except-numbers_item-description">
        - Обычно перед разработчиком ставят задачу и срок, а когда делать работу
        решаешь ты;
      </p>
    </li>
    <li class="except-numbers_item">
      <p class="except-numbers_item-title">Можешь сам выбирать работодателя</p>
      <p class="except-numbers_item-description">
        - Ты моешь пойти работать в крупную компанию, или наоборот в молодой
        стартап;
      </p>
    </li>
    <li class="except-numbers_item">
      <p class="except-numbers_item-title">
        Огромная перспектива для роста и развития
      </p>
      <p class="except-numbers_item-description">
        С возможностью перейти на работу в международною компанию, переехать в
        другой город или страну
      </p>
    </li>
    <li class="except-numbers_item">
      <p class="except-numbers_item-title">
        Получить статус успешного человека
      </p>
      <p class="except-numbers_item-description">
        Который сделал свою жизнь жизнью мечты, добился успеха, обеспечивает
        себя и свою семью
      </p>
    </li>
  </ul>
</div>
