<div class="except-numbers">
  <div class="except-numbers__image-container">
    <picture class="except-numbers_image">
      <source srcset="./images/coffe@960.png" media="(min-width: 960px)" />
      <source srcset="./images/coffe@768.png" media="(min-width: 768px)" />
      <source srcset="./images/coffe@480.png" media="(min-width: 480px)" />
      <img src="./images/coffe@1.png" alt="go it" />
    </picture>
    <h2 class="except-numbers__title except-numbers__title--second">
      <span> За IT сытое и стабильное будущее</span>
    </h2>
    <p class="except-numbers__text except-numbers__text--second">
      Тебе не придется парится где взять работу/пенсию/доход
    </p>
    <p class="except-numbers__text except-numbers__text--third">
      Мир будущего в твоих руках. Если ты хочешь заработывать больше денег, быть
      уверенным в будущем и получить статус успешного человека -
      <span
        >ты можешь получить это все, стартовав карьеру в IT как можно
        скорее!</span
      >
    </p>
  </div>
  <div class="except-numbers__info">
    <h2 class="except-numbers_title"><span>[При этом кроме цифр_ ]</span></h2>
    <p class="except-numbers_text">
      У web-разработчиков есть и другие преимущества, которые тебе понравятся...
    </p>
    <ul class="except-numbers_list">
      <li class="except-numbers_item">
        <p class="except-numbers_item-title">Работаешь в удобное время</p>
        <p class="except-numbers_item-description">
          - Обычно перед разработчиком ставят задачу и срок, а когда делать
          работу решаешь ты;
        </p>
      </li>
      <li class="except-numbers_item">
        <p class="except-numbers_item-title">
          Можешь сам выбирать работодателя
        </p>
        <p class="except-numbers_item-description">
          - Ты моешь пойти работать в крупную компанию, или наоборот в молодой
          стартап;
        </p>
      </li>
      <li class="except-numbers_item">
        <p class="except-numbers_item-title">
          Огромная перспектива для роста и развития
        </p>
        <p class="except-numbers_item-description">
          С возможностью перейти на работу в международною компанию, переехать в
          другой город или страну
        </p>
      </li>
      <li class="except-numbers_item">
        <p class="except-numbers_item-title">
          Получить статус успешного человека
        </p>
        <p class="except-numbers_item-description">
          Который сделал свою жизнь жизнью мечты, добился успеха, обеспечивает
          себя и свою семью
        </p>
      </li>
    </ul>
  </div>
</div>
