<footer>
    <div class="footer">
        <div class="footer__logo"></div>
        <div class="footer__contacts">
            <p>адрес:</p>
            <p class="info">Киев. ул. Егения Коновальца, 36Д</p>
        </div>
        <div lang="en" class="footer__contacts">
            <p>goit:</p>
            <p class="info">info@goit.ua</p>
            <p class="info">+38 093 343 21 27</p>
        </div>
        <div class="footer__contacts">
            <div><a href="#" class="link">[ Facebook ]</a></div>
            <div><a href="#" class="link">[ Instagramm ]</a></div>
            <div><a href="#" class="link">[ Youtube ]</a></div>
        </div>
        <button class="footer__button">заказать звонок</button>
    </div>
    <div class="political">
        <div class="political__text">
            <p>Политики конфединциальности Отказ от ответственности Согласие с рассылкой</p>
        </div>
        <div class="political__img"></div>
    </div>
</footer>