<footer class="footer">
  <picture class="footer__logo">
    <source media="(min-width: 480px )" srcset="../images/logo_goit480_2.png" />
    <img src="../images/logo_goit480.png" alt="logo" />
  </picture>
  <div class="footer__contacts">
    <p>адрес:</p>
    <p class="info">Киев. ул. Егения Коновальца, 36Д</p>
  </div>
  <div lang="en" class="footer__contacts">
    <p>goit:</p>
    <p class="info">info@goit.ua</p>
    <p class="info">+38 093 343 21 27</p>
  </div>
  <div class="footer__contacts">
    <div><a href="#" class="footer__link">[ Facebook ]</a></div>
    <div><a href="#" class="footer__link">[ Instagram ]</a></div>
    <div><a href="#" class="footer__link">[ Youtube ]</a></div>
  </div>
  <button class="footer__button">заказать звонок</button>
</footer>
