<div class="four-steps">
  <div class="four-steps__first">
    <div class="four-steps__title-container">
      <h2 class="four-steps_title">
        <span>[ 4 простых шага </span>чтобы начать_ ]
      </h2>
      <p class="four-steps_text four-steps_text--main">
        Делать сайты, за которые тебе будут готовы платить хорошие деньги
      </p>
      <picture class="four-steps__bg four-steps__bg--four">
        <img src="./images/four-steps-bg-four-768.png" alt="" />
      </picture>
      <picture class="four-steps__bg four-steps__bg--step">
        <img src="./images/four-steps-bg-stap-768.png" alt="" />
      </picture>
    </div>
    <ul class="steps">
      <li class="steps-item">
        <div class="steps-item_number-container">
          <p class="steps-item_number">01.</p>
        </div>
        <div class="steps-item_text-container">
          <p class="steps-item_title">Установить программы</p>
          <p class="steps-item_description">
            Нужные для создания сайтов (они утсановтся даже на обычном офисном
            компьютере)
          </p>
        </div>
      </li>
      <li class="steps-item">
        <div class="steps-item_number-container">
          <p class="steps-item_number">02.</p>
        </div>
        <div class="steps-item_text-container">
          <p class="steps-item_title">Разобраться в терминах web-разработки</p>
        </div>
      </li>
      <li class="steps-item">
        <div class="steps-item_number-container">
          <p class="steps-item_number">03.</p>
        </div>
        <div class="steps-item_text-container">
          <p class="steps-item_title">Знать как делать все элементы сайта</p>
        </div>
      </li>
      <li class="steps-item">
        <div class="steps-item_number-container">
          <p class="steps-item_number">04.</p>
        </div>
        <div class="steps-item_text-container">
          <p class="steps-item_title">Уметь это все водключить</p>
          <p class="steps-item_description">
            Чтобы сайт полноценно работал
          </p>
        </div>
      </li>
    </ul>
  </div>
  <p class="four-steps_text four-steps_text--orange">
    ... и это все, что нужно, чтобы устроиться на работу web-разработчиком!
  </p>
  <picture class="four-steps_image">
    <source srcset="./images/four-steps480.png" media="(min-width: 480px)" />
    <img src="./images/four-steps.png" alt="many people" />
  </picture>
  <div class="four-steps__second">
    <p class="four-steps_text four-steps_text--black">
      За 1,5 часа детальных видео-инструкций узнай все необходимое для старта
      карьеры веб-разработчика - от выбора макета до размещения на хостинга
      готового сайта:
    </p>
    <ul class="todo">
      <li class="todo_item">
        <p class="todo_title">Открой, что такое верстка</p>
        <p class="todo_description">
          И разработка сайтов и почему это несложно и даже весело
        </p>
      </li>
      <li class="todo_item">
        <p class="todo_title">Получи необходимый "чемоданчик"</p>
        <p class="todo_description">
          Нчинающего веб-разработчика - все инструменты и инструкции, которые
          нужны для старта
        </p>
      </li>
      <li class="todo_item">
        <p class="todo_title">Получи пошаговую инструкцию</p>
        <p class="todo_description">
          Как верстать свой первый сайт, даже если ты прогуливал в школе уроки
          информатики
        </p>
      </li>
      <li class="todo_item">
        <p class="todo_title">Увидишь на примере</p>
        <p class="todo_description">
          Как работает профессионал-разработчик и убедишься, что это не сложно
          идаже интересно
        </p>
      </li>
      <li class="todo_item">
        <p class="todo_title">Открой какие интересные</p>
        <p class="todo_description">
          И амбициозные задачи ждут тебя на пути фрилансера-разработчика
        </p>
      </li>
      <li class="todo_item">
        <p class="todo_title">
          Увидишь как легко офрмлять "дорогие" и красивые сайты
        </p>
        <p class="todo_description">
          За которые заказчики готовы платить хорошие деньги (инсайдерские
          секреты разработчиков)
        </p>
      </li>
    </ul>
  </div>
  <p class="four-steps_text four-steps_text--orange">
    Открой, как стать хорошо зарабатывающим специалистом
  </p>
  <button class="four-steps_button">Получить видео-курс</button>
</div>
