<div class="four-steps">
    <h2 class="head-block">4 простых шага чтобы начать</h2>
    <p class="lead">Делать сайты, за которые тебе будут готовы платить хорошие деньги</p>
    <ol>
        <li>
            <div>Установить программы</div>
            <p>Нужные для создания сайтов (они установятся даже на обычном офисном компьютере)</p>
        </li>

        <li>
            <div>Разобраться в терминах web-разработки </div>
        </li>

        <li>
            <div>Знать как делать все элементы сайта </div>
        </li>

        <li>
            <div>Уметь это все подключить</div>
            <p>Чтобы сайт полноценно работал</p>
        </li>
    </ol>

    <p>… и это все, что нужно, чтобы устроиться на работу web-разработчиком!</p>
</div>