<header class="header">
  <nav class="navigation">
    <picture class="navigation_logo">
      <source srcset="" media="(min-width: 1400px)" />
      <source srcset="" media="(min-width: 1200px)" />
      <source srcset="../images/logo_goit768.png" media="(min-width: 768px)" />
      <source
        srcset="../images/logo_goit480_2.png"
        media="(min-width: 480px)"
      />
      <img src="../images/logo_goit480.png" alt="logo goit" />
    </picture>
    <div class="navigation_button"></div>
  </nav>
  <div class="header-info">
    <div class="header__title-container">
      <h1 class="header-info__title">
        [ Пошаговый видео-курс_ ]
      </h1>
      <p class="header-info__start">
        &laquo;Старт в карьере web-разработчика с 0&raquo; для тех, кто давно
        хотел зарабатывать больше раотая в it, но не знал, где реализовать себя
      </p>
    </div>
    <div class="header__info-container">
      <p class="header-info__open">
        Открой для себя сопособ начать карьеру в сфере IT
      </p>
      <p class="header-info__mathematic">
        / Без математического склада ума, работая в комфортных условиях по
        приятному графику над интересными задачами и получая доход в $$$.
      </p>
    </div>
    <button class="header-button">
      Приобрести курс
    </button>
    <picture class="header__image">
      <source srcset="" media="(min-width: 1400px)" />
      <source srcset="" media="(min-width: 1200px)" />
      <img src="../images/header_img.png" alt="background" />
    </picture>
  </div>
</header>
