<header class="wrapper">
    <nav class="nav">
      <div class="logo">
        <a href="#">
          <img src="../images/logo_goit.png" alt="logo">
            </a>
      <ul class="main-menu">
        <li class="menu-item">
            <a href="#"></a>
       <div class="burger-menu clearfix">
            <div class="burger top"></div>
            <div class="burger middle"></div>
            <div class="burger bottom"></div>
        </div>
      <ul class="submenu">
          <li class="subitem"><a href="#">course for all</a></li>
          <li class="subitem"><a href="#">intact success</a></li>
          <li class="subitem"><a href="#">contact us</a></li>
      </ul>
    </li>
    </ul>
    </nav>
</div>
</header>