<header class="header">
  <nav class="navigation">
    <picture class="navigation_logo">
      <source srcset="" media="(min-width: 1400px)" />
      <source srcset="" media="(min-width: 1200px)" />
      <source srcset="" media="(min-width: 800px)" />
      <source srcset="../images/logo_goit480.png" media="(min-width: 480px)" />

      <img src="../images/logo_goit.png" alt="logo goit" />
    </picture>

    <div class="navigation_menu">
      <button class="navigation_button"></button>
    </div>
  </nav>
  <div class="header-info">
    <h1 class="header-info__title">[ Пошаговий видео-курс_]</h1>
    <p class="header-info__start">
      Старт в карьере web-разработчика с 0 для тех, кто давно хотел зарабатывать
      больше раотая в it, но не знал, где реализовать себя
    </p>
    <p class="header-info__shadow">GOIT</p>
    <p class="header-info__open">
      Открой для себя сопособ начать карьеру в сфере IT
    </p>
    <p class="header-info__mathematic">
      / Без математического склада ума, работая в комфортных условиях по
      приятному графику над интересными задачами и получая доход в $$$.
    </p>
    <button class="header-button">Приобрести курс</button>
  </div>
</header>
