<section class="important">
    <h2 class="important__title">[ важно! ]</h2>
    <div class="important__price">
        <div class="">
            <div>
                <p class="price-title">[ Ценность видео-курса и бонусов ]</p>
            </div>
            <div class="line"></div>
            <div>
                <p>1835 грн</p>
            </div>
        </div>
        <div>
            <div> 
                <p class="price-title--background-aqua">[ Цена Сегодня ]</p>
            </div>
            <div class=""><span>399</span>грн</div>
        </div>     
    </div>
    <div class="important__present">
        <p>Это цена - наш подарок для первых 150 человек, решивших улучшить жизнь свою и своих семей через IT</p>
    </div>
    <div class="important__purpose">
        <p>Ведь наша цель - создать бренд Украины как сильной IT страны!</p>
    </div>
    <div class="important__but">
        <p>Однако как только первые ё50 "копий" курса разойдется - цена поднимется.</p>
    </div>
    <button class="important_button">забрать видео-курс за 399 грн</button>
</section>