<section class="important">
    <h2 class="important__title">[ важно! ]</h2>
    <div class="important__price">
        <div class="actual-price">
            <div class="price-title">
                <p>[ Ценность видео-курса и бонусов ]</p>
            </div>
            <div class="line"></div>
            <div class="price">
                <p>1835 грн</p>
            </div>
        </div>
        <div class="today-price">
            <div class="price-title"> 
                <p><span class="price-title--background-aqua">[ Цена Сегодня ]</span></p>
            </div>
            <div class="price-box"><span class="this-is-price">399</span>грн</div>
        </div>     
    </div>
    <div class="important__present">
        <p>Это цена - наш подарок для первых 150 человек, решивших улучшить жизнь свою и своих семей через IT</p>
    </div>
    <div class="important__present important__present--regular">
        <p>Ведь наша цель - создать бренд Украины как сильной IT страны!</p>
    </div>
    <div class="important__present important__present--orange">
        <p>Однако как только первые 50 "копий" курса разойдется - цена поднимется.</p>
    </div>
    <button class="important__button">забрать видео-курс за 399 грн</button>
</section>