<section class="important">
  <h2 class="important__title">[ Важно! ]</h2>
  <div class="important__prices">
    <div>
      <p>[ Ценность видео-курса и бонусов ]</p>
      <div class="important__line"></div>
      <p>1835 грн</p>
    </div>
    <div>
      <p><span>[ Цена Сегодня ]</span></p>
      <p><span>399</span>грн</p>
    </div>
  </div>
  <div class="important__text-container">
    <p class="important__text important__text--bold">
      Эта цена - наш подарок для первых 150 человек, решивших улучшить жизнь
      свою и своих семей через IT
    </p>
    <p class="important__text">
      Ведь ваша цель - создать бренд Украины как сильной IT страны!
    </p>
    <p class="important__text important__text--orange">
      Однако как только первые 150 "копий" курса разойдется - цена поднимется.
    </p>
  </div>
  <button class="important__button">Забрать видеокурс за 399 грн.</button>
</section>
