<div class="many-people">
  <div class="many-people__title-container">
    <h2 class="many-people_title">[ Поэтому так много людей ... ]</h2>
    <p class="many-people_text many-people_text--main">
      Которые пытаются получить IT специальность - обламываются и бросают, а в
      обществе процветает мнение, что для хорошего заработка в этой сфере нужно
      быть математическим гением-задротом...
    </p>
  </div>
  <picture class="many-people_image order">
    <source
      srcset="../images/many-people-1_960.png"
      media="(min-width: 960px)"
    />
    <source
      srcset="../images/many-people-1_768.png"
      media="(min-width: 768px)"
    />
    <source
      srcset="../images/many-people-1_480.png"
      media="(min-width: 480px)"
    />
    <img src="../images/many-people-1.png" alt="many people" />
  </picture>
  <div class="many-people_text-container order">
    <h2 class="many-people_subtitle">
      <span
        >... Однако<br />
        на самом деле</span
      >
    </h2>
    <p class="many-people_text many-people_text--bold">
      Так как Васерман выглядят толко програмисты, которые готовы жизнь положить
      на проекты типа "сделать новый Windows" ...
    </p>
    <p class="many-people_text many-people_text--gray">
      Им действительно нужно быть гениями, днями и ночами ковыряться в
      бесконечном коде, забивать на себя, на отношения, даже иногда на гигиену.
    </p>
  </div>

  <picture class="many-people_image">
    <source
      srcset="../images/many-people-2_960.png"
      media="(min-width: 960px)"
    />
    <source
      srcset="../images/many-people-2_768.png"
      media="(min-width: 768px)"
    />
    <source
      srcset="../images/many-people-2_480.png"
      media="(min-width: 480px)"
    />
    <img src="../images/many-people-2.png" alt="many people" />
  </picture>
  <div class="many-people_text-container order">
    <h2 class="many-people_subtitle">
      <span>Но если ты не хочешь углубляться в дерби программирования</span>
    </h2>
    <p class="many-people_text many-people_text--bold">
      А просто хочешь заниматься интересеными проектами и хорошо при этом
      зарабатывать, и иметь время на личную жизнь ...
    </p>
    <p class="many-people_text many-people_text--gray">
      Тогда сейчас перед тобой есть другой путь - стартовать
    </p>
  </div>
</div>
