<div class="only-now">
    <div class="only-now__img">
        <img src="../images/only_now.png" alt="Курсы IT">
    </div>
    <p class="only-now__text">Обычно обучение у Александра Лущенко стоит от 815 грн за час…</p>
    <h2 class="only-now__main-title--black">[ Однако только сейчас ]</h2>
    <p class="only-now__cup-of-tea">У тебя есть возможность получить 1,5 часа пошагового обучения веб-разработке с Нуля до результатов... всего за 399 грн!</p>
    <div class="only-now__benefits--wrapper">
        <h6 class="only_now__benefits--title">И сейчас ты можешь либо сходить купить  продуктов на ужин…  или:</h6>
        <section class="only_now__benefits--box">
            <h6 class="only_now__benefits--box-title">Сразу получить навыки в IT</h6>
            <p class="only_now__benefits--box-text">Которые тебе будут нужны в будущем для хорошего заработка в $;</p>
        </section>
        <section class="only_now__benefits--box">
            <h6 class="only_now__benefits--box-title">Открыть, насколько легко </h6>
            <p class="only_now__benefits--box-text">Которые ты видишь в Интернете и как ты сможешь делать такие же на своем компьютере;</p>
        </section>
        <section class="only_now__benefits--box">
            <h6 class="only_now__benefits--box-title">Создать себе первый сайт  в портфолио</h6>
            <p class="only_now__benefits--box-text">Чобы иметь преимущество перед другими соискателями на любой проект или работу;</p>
        </section>
        <section class="only_now__benefits--box">
            <h6 class="only_now__benefits--box-title">Обрести уверенность</h6>
            <p class="only_now__benefits--box-text">Что ты можешь хорошо зарабатывать в востребованной профессии без необходимости быть гением или "задротом";</p>
        </section>
        <section class="only_now__benefits--box">
            <h6 class="only_now__benefits--box-title">Получить нужные инструменты</h6>
            <p class="only_now__benefits--box-text">Для старта и развития карьеры  web-разработчика;</p>
        </section>
        <section class="only_now__benefits--box">
            <h6 class="only_now__benefits--box-title">Перестань откладывать свое будущее</h6>
            <p class="only_now__benefits--box-text">И свой большой прорыв, начни  испытывать гордость от того, что ты действуешь и меняешь свою жизнь к лучшему</p>
        </section>
    </div>
</div>