<div class="only-now">
    <div class="only-now__img">
        <img src="../images/only_now.png" alt="Курсы IT">
    </div>
    <p class="only-now__text">Обычно обучение у Александра Лущенко стоит от 815 грн за час…</p>
    <h2 class="only-now__main-title">
        <span class="only-now__main-title--black">[ Однако только сейчас ]</span>
    </h2>
    <p class="only-now__special-price">У тебя есть возможность получить 1,5 часа пошагового обучения веб-разработке с Нуля до результатов... всего за 399 грн!</p>
    <div class="benefits-list">
        <h6 class="benefits-list__title">И сейчас ты можешь либо сходить купить  продуктов на ужин…  или:</h6>
        <section class="benefits-list__item">
            <div class="item__number"><p>[ 001 ]</p></div>
            <div class="item-box">
                <h6 class="item-box__title">Сразу получить навыки в IT</h6>
                <p class="item-box__text">Которые тебе будут нужны в будущем для хорошего заработка в $;</p>
            </div>
        </section>
        <section class="benefits-list__item">
            <div class="item__number"><p>[ 002 ]</p></div>
            <div class="item-box">
                <h6 class="item-box__title">Открыть, насколько легко </h6>
                <p class="item-box__text">Которые ты видишь в Интернете и как ты сможешь делать такие же на своем компьютере;</p>
            </div>
        </section>
        <section class="benefits-list__item">
            <div class="item__number"><p>[ 003 ]</p></div>
            <div class="item-box">
                <h6 class="item-box__title">Создать себе первый сайт  в портфолио</h6>
                <p class="item-box__text">Чобы иметь преимущество перед другими соискателями на любой проект или работу;</p>
            </div>
        </section>
        <section class="benefits-list__item">
            <div class="item__number"><p>[ 004 ]</p></div>
            <div class="item-box">
                <h6 class="item-box__title">Обрести уверенность</h6>
                <p class="item-box__text">Что ты можешь хорошо зарабатывать в востребованной профессии без необходимости быть гением или "задротом";</p>
            </div>
        </section>
        <section class="benefits-list__item">
            <div class="item__number"><p>[ 005 ]</p></div>
            <div class="item-box">
                <h6 class="item-box__title">Получить нужные инструменты</h6>
                <p class="item-box__text">Для старта и развития карьеры  web-разработчика;</p>
            </div>
        </section>
        <section class="benefits-list__item">
            <div class="item__number"><p>[ 006 ]</p></div>
            <div class="item-box">
                <h6 class="item-box__title">Перестань откладывать свое будущее</h6>
                <p class="item-box__text">И свой большой прорыв, начни  испытывать гордость от того, что ты действуешь и меняешь свою жизнь к лучшему</p>
            </div>
        </section>
    </div>
</div>