<div class="study-goit">
    <h2 class="study-goit__main-title">[ Сейчас у тебя есть возможность обучаться в GoIT _ ]</h2>
    <section class="study-goit__biggest-university"></section>
        <article class="study-goit--box">
            <h6 class="study-goit__box--title">Мы — самый крупный онлайн университет в Украине</h6>
            <p class="study-goit__box--text"></p>
        </article>
        <div class="study-goit__background--box">
            <img src="../images/study_goit.png" alt="Курсы IT" class="study__goit--photo">
        </div>
        <p class="study-goit__cup-of-tea">Онлайн-университете №1 в Украине  по IT-обучению, сидя в любимом кресле с чашкой чая</p>
    </section>    
    <div class="study-goit__awards">
        <section class="awards__goforit">
            <h5 class="awards__goforit--title-black">[ Go for IT ]</h5>
            <article class="awards__goforit--box">
                <h6 class="study-goit__box--title">GoIT выиграла тендер ПР ООН Украина</h6>
                <p class="study-goit__box--text">На реализацию социального проекта по бесплатному обучению Frontend. Мы стали самой молодой компанией-партнером ПР ООН. В рамках проекта Go for IT мы обязались обучить Frontend-разработке 300 переселенцев.</p>
            </article>
        </section>
        <section class="awards__recognition">
            <h5 class="awards__recognition--title-black">[ Это признано IT-сообществом ]</h5>
            <article class="awards__recognition--box">
                <h6 class="study-goit__box--title">Ukranian IT Awards 2016</h6>
                <p class="study-goit__box--text"><span class="box__text--span">Lorem ipsum dolor</span> sit amet, consectetur adipisicing elit. Ullam facere ratione fuga explicabo quis, eum iure? Iste, doloribus et.</p>
            </article>
            <article class="awards__recognition--box">
                <h6 class="study-goit__box--title">Best IT Eduсation 2015</h6>
                <p class="study-goit__box--text"><span class="box__text--span">Lorem ipsum dolor</span> sit amet, consectetur adipisicing elit. Ullam facere ratione fuga explicabo quis, eum iure? Iste, doloribus et.</p>
            </article>
            <article class="awards__recognition--box">
                <h6 class="study-goit__box--title">Best IT Eduсation 2016</h6>
                <p class="study-goit__box--text"><span class="box__text--span">Lorem ipsum dolor</span> sit amet, consectetur adipisicing elit. Ullam facere ratione fuga explicabo quis, eum iure? Iste, doloribus et.</p>
            </article>
        </section>
    </div>
</div>