<div class="study-goit">
    <h2 class="study-goit__main-title">[ Сейчас у тебя есть возможность обучаться в GoIT _ ]</h2>
    <section class="study-goit__biggest-university">
        <h6 class="biggest-university__box-title">Мы — самый крупный онлайн университет в Украине</h6>
        <p>Который профессионально, просто и доступно подготавливает IT-специалистов со всего СНГ в он-лайн режиме.</p>
    </section>
    <div class="university-background">
        <img src="../images/study_goit.png" alt="Курсы IT">
    </div>
    <div class="study-goit__number-one">
        <p>Онлайн-университет №1 в Украине по IT-обучению, сидя в любимом кресле с чашкой чая</p>
    </div>
    </section> 
    <section class="goforit">
        <h5 class="title-black"><span class="title-black--span">[ Go for IT ]</span></h5>
        <article class="goforit__box undp">
            <h5 class="box-title">GoIT выиграла тендер <br> ПР ООН Украина</h5>
            <p class="box-text">На реализацию социального проекта по бесплатному обучению Frontend. Мы стали самой молодой компанией-партнером ПР ООН. В рамках проекта Go for IT мы обязались обучить Frontend-разработке 300 переселенцев.</p>
        </article>
    </section>
    <section class="awards">
        <h5 class="title-black"><span class="title-black--span">[ Это признано IT-сообществом ]</span></h5>
        <article class="awards__box it-awards">
            <div class="box__number"><p>01_</p></div>
            <h6 class="box-title">Ukranian IT Awards 2016</h6>
            <p class="box-text"><span class="box-text__span">Lorem ipsum dolor</span> <br> sit amet, consectetur adipisicing elit. Ullam facere ratione fuga explicabo quis, eum iure? Iste, doloribus et.</p>
        </article>
        <article class="awards__box education-it">
            <div class="box__number"><p>02_</p></div>
            <h6 class="box-title">Best IT Eduсation 2015</h6>
            <p class="box-text"><span class="box-text__span">Lorem ipsum dolor</span> <br> sit amet, consectetur adipisicing elit. Ullam facere ratione fuga explicabo quis, eum iure? Iste, doloribus et.</p>
        </article>
        <article class="awards__box education-it">
            <div class="box__number"><p>03_</p></div>
            <h6 class="box-title">Best IT Eduсation 2016</h6>
            <p class="box-text"><span class="box-text__span">Lorem ipsum dolor</span> <br> sit amet, consectetur adipisicing elit. Ullam facere ratione fuga explicabo quis, eum iure? Iste, doloribus et.</p>
        </article>
    </section>
</div>