<div class="presentation-course">
    <h2 class="head-block">Представляем пошаговый Видео-курс</h2>
    <p class="lead">Быстрый старт карьеры веб-разработчика с Нуля</p>
    <div>
        <div>За 1,5 часа детальных видео-инструкций узнай все необходимое для старта карьеры 
            веб-разработчика — от выбора макета до размещения на хостинге готового сайта:
        </div>
        <ol>
            <li>
                <div>Открой, что такое верстка</div>
                <p>И разработка сайтов и почему это это несложно и даже весело </p>
            </li>

            <li>
                <div>Получи необходимый чемоданчик</div>
                <p>Начинающего веб-разработчика — все инструменты и инструкции, которые нужны для старта</p>
            </li>

            <li>
                <div>Получи пошаговую инструкцию</div>
                <p>Как сверстать свой первый сайт, даже если ты прогуливал в школе уроки информатики</p>
            </li>

            <li>
                <div>Увидишь на примере</div>
                <p>Как работает профессионал-разработчик и убедишься, что это несложно и даже интересно</p>
            </li>

            <li>
                <div>Открой, какие интересные</div>
                <p>И амбициозные задачи ждут тебя на пути фрилансера-разработчика</p>
            </li>

            <li>
                <div>Увидишь как легко оформлять «дорогие» и красивые сайты</div>
                <p>За которые заказчики готовы платить хорошие деньги (инсайдерские секреты разработчиков)</p>
            </li>
        </ol>

        <div>
            <button>Получить видео-курс</button>
            <p>Открой, как стать хорошо зарабатывающим специалистом.S</p>
        </div>
    </div>





</div>