<div class="earn">
  <div class="earn__head">
    <p class="earn__text earn__text--first">
      Хочешь работать в комфортных условиях и крутым коллективом? Хочешь
      получать зарплату в 2-3 раза выше, чем средняя в твоем городе без
      необходимости переезжать?
    </p>
    <picture class="earn__image">
      <source
        srcset="./images/start_to_earn960.png"
        media="(min-width: 960px)"
      />
      <source
        srcset="./images/start_to_earn768.png"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/tabletS_start_to_earn.png"
        media="(min-width: 480px)"
      />
      <img src="./images/mobile_start_to_earn.png" alt="many people" />
    </picture>
    <p class="earn__text earn__text--second">Тогда возможно тебе тоже</p>
    <h2 class="earn__title">
      [ Пора начать <span>зарабатывать в IT?_ ]</span>
    </h2>
  </div>
  <picture class="earn__bg">
    <img src="./images/start_to_earn-bg-768.png" alt="many people" />
  </picture>
  <p class="earn__text earn__text--third">Если ты:</p>
  <ul class="earn__list">
    <li class="earn__list-item">
      <p>
        <b>Устал бяться кризисов изменений власти</b> и просто хочешь
        зарабатывать достойные деньги для себя и своей семьи и с увереностью
        смотреть в будущее
      </p>
    </li>
    <li class="earn__list-item">
      <p>
        <b>Задолбался впахивать как ломовая лошадь 250 дней в году</b> что бы на
        1,5 недели съездить в Турцию с детьми, где они вымотают тебя
        окончательно
      </p>
    </li>
    <li class="earn__list-item">
      <p>
        <b>Хочешь наконец-то найти такой вариант заработка</b> чтобы
        зарабатывать хорошие деньги и все еще иметь время на любимые "танки"
      </p>
    </li>
    <li class="earn__list-item">
      <p>
        <b>Устал приходить утром в нудный офис</b> где всекорчат дружелюбных, а
        на делекаждый мечтает тебя "подсидеть"
      </p>
    </li>
    <li class="earn__list-item">
      <p>
        <b>Хочешь наконец-то делать интересные задачи</b> и зарабатывать на этом
        достойные деньги работать и зарабатывать
      </p>
    </li>
    <li class="earn__list-item">
      <p>
        <b>Тебя пилит жена за то, что ты играешь в игры</b> а на самом деле тебя
        просто достала рутина на работе и ты хочешь расслабиться
      </p>
    </li>
    <li class="earn__list-item">
      <p>
        <b>Хочешь сменить статус</b> с офисного "планктона" на крутого
        "IT-шника"
      </p>
    </li>
    <li class="earn__list-item">
      <p>
        <b>Учишься в институте и уже понимаешь</b> что по специальности работать
        не будешь
      </p>
    </li>
  </ul>
  <p class="earn__text earn__text--fourth">
    ...тогда пришло время стартовать карьеру в веб разарботке, чтобі осуществить
    свои желания и раскрыть потенциал!
  </p>
</div>
