<div class="time-to-earn">
  <p class="time-to-earn_text time-to-earn_text--start">
    Хочешь работать в комфортных условиях крутым колективом? Хочешь получать
    зарплату в 2-3 раза выше, чем средняя в твоём городе без необходимости
    переезжать?
  </p>
  <img
    class="time-to-earn_image"
    src="../images/mobile_start_to_earn.png"
    alt="начни зарабатывать"
  />
  <p class="time-to-earn_before-title">тогда возможно, тебе тоже</p>
  <h2 class="tiem-to-earn_title">
    [ Пора начать <span>зарабатывать в it?_ ]</span>
  </h2>
  <p class="time-to-earn_list-tilte">если ты:</p>
  <ul class="time-to-earn_list">
    <li class="time-to-earn_list-item">
      <p>
        <b>Устал бояться кризисов власти</b>и просто хочешь зарабатывать
        достойные деньги для себя и своей семьи, спокойно и с увереностью
        смотреть в будущее
      </p>
    </li>
    <li class="time-to-earn_list-item">
      <p>
        <b>Задолбался впахивать как ломовая лошадь 250 дней в году</b> чтобі на
        1,5 недели сьездить в Турцию с детьми, где они вымотают тебя
        окончательно
      </p>
    </li>
    <li class="time-to-earn_list-item">
      <p>
        <b>Хочешь наконец-то найти такой вариант заработка</b> чтобы
        зарабатывать хорошие деньги и все еще иметь время на любимые "танки"
      </p>
    </li>
    <li class="time-to-earn_list-item">
      <p>
        <b>Устал приходить утром в нудный офис</b>где все корчат дружелюбных, а
        на деле каждый мечтает тебя "подсидеть"
      </p>
    </li>
    <li class="time-to-earn_list-item">
      <p>
        <b>Хочешь наконец-то делать интересные задачи</b> и зарабатывать на этом
        достойные деньги работать и зарабатывать
      </p>
    </li>
    <li class="time-to-earn_list-item">
      <p>
        <b>Тебя пилит жена за то, что ты играешь в игры</b> а на самом деле тебя
        просто достала рутина на работе и ты хочешь расслабиться
      </p>
    </li>
    <li class="time-to-earn_list-item">
      <p>
        <b>Хочешь сменить статус</b> с "офисного планктона" на "крутого
        IT-шника"
      </p>
    </li>
    <li class="time-to-earn_list-item">
      <p>
        <b>Учишься в институте и уже понимаешь</b> что по специальности работать
        не будешь
      </p>
    </li>
  </ul>
  <p class="time-to-earn_text time-to-earn_text--finish">
    ... тогда пришло время стартовать карьеру в веб-разработке, чтобы
    осуществить свои желания и раскрыть потенциал!
  </p>
</div>
