<div class="usual-people">
  <h1 class="usual-people_title">[ Смотри, как обычные люди ... ]</h1>
  <p class="usual-people_text">
    Которые даже в школе не изучали программирование, без гениальных навыков в
    математике, невероятных талантов, природных способностей и блата
    <span>сделали свой прорыв в IT!</span>
  </p>
  <div class="usual-people_opinion">
    <div class="opinion_interview">
      <div class="opinion_info">
        <picture class="opinion_info--image">
          <source srcset="" media="(min-width: 1400px)" />
          <source srcset="" media="(min-width: 1200px)" />
          <source srcset="" media="(min-width: 800px)" />
          <source
            srcset="../images/logo_goit480.png"
            media="(min-width: 480px)"
          />

          <img src="../images/photo1.png" alt="Nina Miroshnychenko" />
        </picture>
        <p class="opinion_info--name">Nina Miroshnychenko</p>
      </div>
      <div class="opinion_text-container">
        <p class="opinion_text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          esse sed adipisci reiciendis quibusdam libero a ipsam id quaerat
          debitis, ratione velit, expedita possimus odio eum eius! Cumque
          consequatur optio asperiores voluptatibus eveniet nemo sunt
          necessitatibus eligendi qui molestias itaque earum voluptate, rerum
          veniam culpa nobis laborum sed deleniti neque numquam exercitationem.
          Beatae mollitia ratione laudantium illo consequuntur nobis quas illum
          vero, perferendis cum alias! Ad amet maiores doloribus voluptate
          excepturi tempora nobis laboriosam dolores accusantium, ab
          perspiciatis facere fugit illo. Voluptate id, illum alias voluptatum
          ipsam odio nisi in aliquam exercitationem similique possimus at, saepe
          suscipit officiis quos officia quod vero debitis illo velit
          accusantium rem! Ad, maxime dolorem deleniti ipsum dolorum temporibus
          blanditiis odit recusandae ab sed provident in dolore excepturi, rerum
          aspernatur rem illo unde ullam nam laboriosam nobis iure ut hic
          accusantium. Impedit inventore numquam velit iusto tenetur culpa. Vero
          officiis quibusdam, debitis fugiat, minus esse unde accusamus earum et
          consequuntur aut, modi labore. Aperiam accusantium sapiente veniam sit
          porro culpa eligendi quaerat cupiditate, assumenda, earum, doloribus
          dicta. Vero eligendi repudiandae ipsa deserunt velit ipsum saepe aut
          cupiditate nihil. Quia nostrum totam dicta aperiam neque, placeat
          consectetur quas quo ipsam quod voluptatibus molestias tempora odio
          ducimus. Dolores labore aliquam est ea adipisci mollitia enim
          accusantium! Voluptatibus culpa explicabo quisquam sit laudantium
          corporis, facere incidunt maiores quas animi provident eius veritatis
          reprehenderit, ipsa sint sequi dolore. Saepe amet nesciunt
          exercitationem, ex quos rem perspiciatis error, odit ab eveniet cumque
          reiciendis, nobis modi? Similique commodi distinctio ex ut voluptatem,
          aperiam pariatur, error sequi dicta unde corrupti facilis tenetur
          ipsam suscipit sed accusamus rerum nulla harum quam? Eos accusamus
          vitae cumque esse quaerat perferendis sint, et accusantium! Hic sunt
          fugit quisquam quasi autem, exercitationem quod ratione molestias eum
          necessitatibus omnis vitae minima, consectetur blanditiis consequuntur
          iusto laborum laboriosam nobis. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Doloribus perspiciatis incidunt eaque cumque
          asperiores excepturi modi odio repellat voluptatum nesciunt tenetur,
          facilis nam, delectus eligendi debitis velit nemo aspernatur. Ipsum
          quaerat, vel, tenetur possimus, eligendi fugiat distinctio dignissimos
          et facere provident recusandae voluptates autem excepturi quibusdam
          temporibus iusto similique architecto soluta? Perspiciatis quasi a
          totam quas mollitia eius, delectus nisi deserunt ea perferendis
          provident ducimus quos exercitationem cupiditate quibusdam praesentium
          maiores? Pariatur rem delectus nesciunt molestiae nobis consequuntur
          eos aliquid velit obcaecati itaque ullam reiciendis nemo dignissimos
          error iste expedita ipsum, voluptas blanditiis. Error doloremque
          consectetur perferendis minima iusto cumque tempora, accusantium
          impedit enim soluta commodi iste, porro magni deserunt architecto
          cupiditate? Error molestias perferendis cupiditate magnam distinctio,
          quaerat cum minus vel nemo tempora. Ut illum sed qui, itaque placeat
          quisquam quidem magni, laudantium reiciendis error, pariatur deleniti?
          Expedita temporibus soluta tempora obcaecati deserunt ipsum eum
          maiores, nesciunt accusamus nostrum. Temporibus accusantium
          exercitationem minus ratione porro ipsam ea quia eos tempore, maxime
          consequatur quo veniam corrupti qui deserunt veritatis, repellendus
          rerum cumque impedit explicabo ipsum nisi cum, inventore possimus?
          Nulla vitae maiores aperiam incidunt placeat et quaerat voluptatum?
          Earum odit fuga unde dolorum laborum incidunt nemo tempora modi
          obcaecati. Dolores?
        </p>
      </div>
    </div>
    <div class="opinion_navigation">
      <div class="opinion_pages">
        <p class="opinion_page opinion_page--active">01</p>
        <p class="opinion_page">02</p>
        <p class="opinion_page">03</p>
      </div>
      <div class="opinion_buttons">
        <button class="opinion_button">&#60;</button>
        <button class="opinion_button">&#62;</button>
      </div>
    </div>
  </div>
</div>
