<div class="videocourse">
  <div class="videocourse__first">
    <div class="videocourse__title-container order">
      <h2 class="videocourse__title">[ Что такое видео-курс: ]</h2>
      <p class="videocourse__text videocourse__text--main">
        "Быстрый старт карьеры веб-разработчика с Нуля" и почему он ведет к
        деньгам?
      </p>
    </div>
    <picture class="videocourse__image">
      <source
        srcset="../images/videocourse768.png"
        media="(min-width: 768px)"
      />
      <source
        srcset="../images/videocourse480.png"
        media="(min-width: 480px)"
      />
      <img src="../images/videocourse.png" alt="" />
    </picture>
  </div>
  <div class="videocourse__second">
    <ul class="videocourse__list videocourse__list--first">
      <li>
        <p><span>Это не типичный "айтишный" тренинг</span></p>
        <p>
          С кучей теории, абракадабры, сложностей и непонятных вещей, которые не
          приближают тебя к работе в IT, а наоборот - отдаляют!
        </p>
      </li>
      <li>
        <p><span>Это уникальная пошаговая инструкция</span></p>
        <p>
          Которая поможет тебе перейти от полного непонимания как и что делать в
          сфере IT... до ясности и готового навыка в твоей "копилке"!
        </p>
      </li>
    </ul>
    <picture class="videocourse__image videocourse__image--second">
      <img src="../images/videocourse2_480.png" alt="" />
    </picture>
  </div>
  <div class="videocourse__third">
    <p class="videocourse__text videocourse__text--list-title">
      Что ты получаешь в видео-курсе "быстрый старт карьеры веб-разработчика с
      нуля":
    </p>
    <ul class="videocourse__list videocourse__list--second">
      <li>
        <p>95 минут контента, о том, как создать сайт</p>
        <p>За который тебе с удовольствием заплатят хорошие деньги</p>
      </li>
      <li>
        <p>15 подробных видео-инструкций</p>
        <p>
          Где опытный специалист на очень доступном языке обьясняет алгоритм
          создания сайта, что гарантирует тебе успех в этом деле
        </p>
      </li>
      <li>
        <p>Простой и понятный пошаговый чек-лист</p>
        <p>
          Который поможет тебе создавать сайты быстро и легко, даже без глубоких
          технических знаний
        </p>
      </li>
      <li>
        <p>Макеты и инструкции по созданию сайтов</p>
        <p>От эксперта, которому платят 30 долларов в час</p>
      </li>
      <li>
        <p>24/7 доступ к материалам</p>
        <p>закрытого сайта...</p>
      </li>
    </ul>
  </div>

  <div class="videocourse__prices-container">
    <div class="videocourse__prices-text-container">
      <p class="videocourse__prices-text">
        <span>[ Цена за видео-курс сегодня ]</span>
      </p>
    </div>
    <div class="videocourse__prices">
      <p class="videocourse__price videocourse__price--old">1300 грн</p>
      <p class="videocourse__price videocourse__price--new">
        <span>399</span> грн
      </p>
    </div>
  </div>
</div>
