<div class="videcourse">
  <h2>[ Что такое видео-курс: ]</h2>
  <p>
    "Быстрый старт карьеры веб-разработчика с Нуля" и почему он ведет к деньгам?
  </p>
  <picture>
    <img src="../images/videocourse.png" alt="" />
  </picture>
  <ul>
    <li>
      <p>Это не типичный "айтишный" тренинг</p>
      <p>
        С кучей теории, абракадабры, сложностей и непонятных вещей, которые не
        приближают тебя к работе в IT, а наоборот - отдаляют!
      </p>
    </li>
    <li>
      <p>Это уникальная пошаговая инструкция</p>
      <p>
        Которая поможет тебе перейти от полного непонимания как и что делать в
        сфере IT... до ясности и готового навыка в твоей "копилке"!
      </p>
    </li>
  </ul>
  <p>
    Что ты получаешь в видео-курсе "быстрый старт карьеры веб-разработчика с
    нуля":
  </p>
  <ul>
    <li>
      <p>95 минут контента, о том, как создать сайт</p>
      <p>За который тебе с удовольствием заплатят хорошие деньги</p>
    </li>
    <li>
      <p>15 подробных видео-инструкций</p>
      <p>
        Где опытный специалист на очень доступном языке обьясняет алгоритм
        создания сайта, что гарантирует тебе успех в этом деле
      </p>
    </li>
    <li>
      <p>Простой и понятный пошаговый чек-лист</p>
      <p>
        Который поможет тебе создавать сайты быстро и легко, даже без глубоких
        технических знаний
      </p>
    </li>
    <li>
      <p>Макеты и инструкции по созданию сайтов</p>
      <p>От эксперта, которому платят 30 долларов в час</p>
    </li>
    <li>
      <p>24/7 доступ к материалам</p>
      <p>закрытого сайта...</p>
    </li>
  </ul>
  <div>
    <div>
      <p>[ Цена за видео-курс сегодня]</p>
    </div>
    <div>
      <p>1300 грн</p>
      <p>399 грн</p>
    </div>
  </div>
</div>
