<div class="warning">
  <picture class="warning__image">
    <img src="./images/warning768.png" alt="Nina Miroshnychenko" />
  </picture>

  <picture class="warning__image warning__image--text">
    <img src="./images/warning_hard768.png" alt="Nina Miroshnychenko" />
  </picture>
  <div class="warning__info">
    <h2 class="warning_title">[ Однако предупреждаем_ ]</h2>
    <p class="warning_text">
      Получить навыки, нужные, чтобы зарабатывать в IT может быть долгои сложно
      ...
    </p>
    <ul class="warning_list">
      <li class="warning_list-item">
        <p class="warning_list-item--title">Непонятный "програмистский" язык</p>
        <p class="warning_list-item--description">
          От которого у нормального человека просто пухнет голова
        </p>
      </li>
      <li class="warning_list-item">
        <p class="warning_list-item--title">
          Неясно, что именно читать и учить
        </p>
        <p class="warning_list-item--description">
          Чтобы не просто знать, но и полуить реальную работу
        </p>
      </li>
      <li class="warning_list-item">
        <p class="warning_list-item--title">В интернете полно теории</p>
        <p class="warning_list-item--description">
          Однако теория не веддет к деньгам, она просто отнимает твое время
        </p>
      </li>
      <li class="warning_list-item">
        <p class="warning_list-item--title">Легко сдасться и все бросить</p>
        <p class="warning_list-item--description">
          Без поддержки и источника мотивации
        </p>
      </li>
      <li class="warning_list-item">
        <p class="warning_list-item--title">
          Проще пойти раздавать листовки на улице, чем продолжать
        </p>
        <p class="warning_list-item--description">
          Если ты не видишь быстрого роста навыков и денежного "выхлопа" от
          изучения
        </p>
      </li>
    </ul>
  </div>
</div>
