<section class="videocourse">
    <h2 class="videocourse__title">[ что такое видео-курс: ]</h2>
    <div class="videocourse__question">
        <p>Быстрый старт карьеры веб-разработчика с Нуля и почему он ведет к деньгам?</p>    
    </div>
    <div class="videocourse__img">
        <img src="../images/videocourse.png" alt="">
    </div>
    <div class="videocourse__about">
        <h3 class="secondary-title">Это не тпипчный "айтишный" тренинг</h3>
        <p>С кучей теории, абракадабры, сложностей и непонятных вещей, которые не приближают тебя к работе в IT, а наоборот - отдаляют!</p>
    </div>
    <div class="videocourse__about">
        <h3 class="secondary-title">Это уникальная пошаговая инструкция</h3>
        <p>Которая поможет тебе перейти от полного непонимания как и что делать в сфере IT... до ясности и готового навыка в товей "копилке"!</p>
    </div>
    <div class="videocourse__about">
        <h3 class="secondary-title">Что ты получаешь в видео-курсе "быстрый старт карьеры веб-разработчика с нуля":</h3>
        <ul class="get-list">
            <li class="get-list__item">
                <p>[ 001 ]</p>
                <h4>95 минут контента, о том, как создать сайт</h4>
                <p>За который тебе с удовольствием заплатят хорошие деньги</p>
            </li>
            <li class="get-list__item">
                <p>[ 002 ]</p>
                <h4>15 подробных видео-инструкций</h4>
                <p>Где опытный специалист на очень доступном языке обьясняет алгоритм создания сайта, что гарантирует тебе успех в этом деле</p>
            </li>
            <li class="get-list__item">
                <p>[ 003 ]</p>
                <h4>Простой и понятный пошаговый чек-лист</h4>
                <p>Который поможет тебе создавать сайты быстро и легко, даже без глубоких технических знаний</p>
            </li>
            <li class="get-list__item">
                <p>[ 004 ]</p>
                <h4>Макеты и инструкции по созданию сайтов</h4>
                <p>От эксперта, которому платят 30 долларов в час</p>
            </li>
            <li class="get-list__item">
                <p>[ 005 ]</p>
                <h4>24/7 доступ к материалам</h4>
                <p>закрытого сайта</p>
            </li>
        </ul>    
    </div>
    <div class="about-price">
        <h3>[ Цена за видео курс сегодня ]</h3>
    </div>
    <div class="price">
        <p>1 300 ГРН</p>
        <p><span>399</span>ГРН.</p>
    </div>
</section>