<section class="videocourse">
    <div class="videocourse__head">
        <h2 class="videocourse__title">[ что такое видео-курс: ]</h2>
    
        <div class="videocourse__question">
            <p> &#171Быстрый старт карьеры веб-разработчика с Нуля&#187 и почему он ведет к деньгам?</p>    
        </div>
    </div>
    <div class="videocourse__img"> 
        <picture>
            <source
		        media="(min-width: 480px)"
		        srcset="../images/videocourse480.png">
            <img class="img" src='../images/videocourse.png'/>
        </picture>
    </div>
   <div>
        <div class="videocourse__about">
            <h3 class="secondary-title"><span class="background-title">Это не тпипчный &#171айтишный&#187 тренинг</span></h3>
            <p>С кучей теории, абракадабры, сложностей и непонятных вещей, которые не приближают тебя к работе в IT, а наоборот - отдаляют!</p>
        </div>
        <div class="videocourse__about">
            <h3 class="secondary-title"><span class="background-title">Это уникальная пошаговая инструкция</span></h3>
            <p>Которая поможет тебе перейти от полного непонимания как и что делать в сфере IT... до ясности и готового навыка в товей "копилке"!</p>
        </div>
    </div>
    <div class="videocourse__img videocourse__img--nomobile"> 
        <picture>
            <source
		        media="(min-width: 480px)"
		        srcset="../images/videocourse2_480.png">
            <img class="img" src='../images/videocourse.png'/>
        </picture>
    </div>

    <div class="videocourse__get">
        <div>
            <h3 class="secondary-title--black-font">Что ты получаешь в видео-курсе &#171быстрый старт карьеры веб-разработчика с нуля&#187:</h3>
        </div>
        <ul class="get-list">
            <li class="get-list__item">
                <div class="vertical-number"><p>[ 001 ]</p></div>
                <div class="get-list__item-about">
                    <p class="main-words">95 минут контента, о том, как создать сайт</p>
                    <p class="notmain-words">За который тебе с удовольствием заплатят хорошие деньги</p>
                </div>
            </li>
            <li class="get-list__item">
                <div class="vertical-number"><p>[ 002 ]</p></div>
                <div class="get-list__item-about">
                    <p class="main-words">15 подробных видео-инструкций</p>
                    <p class="notmain-words">Где опытный специалист на очень доступном языке объясняет алгоритм создания сайта, что гарантирует тебе успех в этом деле</p>
                </div>
            </li>
            <li class="get-list__item">
                <div class="vertical-number"><p>[ 003 ]</p></div>
                <div class="get-list__item-about">
                    <p class="main-words">Простой и понятный пошаговый чек-лист</p>
                    <p class="notmain-words">Который поможет тебе создавать сайты быстро и легко, даже без глубоких технических знаний</p>
                </div>
            </li>
            <li class="get-list__item">
                <div class="vertical-number"><p>[ 004 ]</p></div>
                <div class="get-list__item-about">
                    <p class="main-words">Макеты и инструкции по созданию сайтов</p>
                    <p class="notmain-words">От эксперта, которому платят 30 долларов в час</p>
                </div>
            </li>
            <li class="get-list__item">
                <div class="vertical-number"><p>[ 005 ]</p></div>
                <div class="get-list__item-about">
                    <p class="main-words">24/7 доступ к материалам</p>
                    <p class="notmain-words">закрытого сайта...</p>
                </div>
            </li>
        </ul>    
    </div>
    <div class="price-today">
        <div class="about-price">
            <h3><span class="background-title--blue">[ Цена за видео- курс сегодня ]</span></h3>
        </div>
        <div class="price">
         <p class="old-price">1 300 ГРН</p>
         <p class="new-price"><span class="big-price">399</span> грн.</p>
        </div>
    </div>
</section>