.act {
  padding: 10px;

  @media (min-width: 768px) {
    padding: 30px;
    display: flex;
    justify-content: space-around;
  }

  &__title {
    @extend %title;
    width: 130px;
    margin: 25px auto 0;

    @media (min-width: 480px) {
      width: 180px;
    }

    @media (min-width: 768px) {
      width: 250px;
    }
  }

  &__image {
    display: none;

    @media (min-width: 768px) {
      display: block;
      position: absolute;
      top: 5%;
      right: 10%;
      z-index: -1;
    }
  }

  &__text-container {
    width: 200px;
    margin: 0 auto;

    @media (min-width: 480px) {
      width: 350px;
    }
  }

  &__text {
    @extend %text;
    color: $light-gray;
    margin-top: 15px;

    span {
      font-weight: 900;
      color: $black;
    }

    &--main {
      @extend %main-think;
      width: 150px;
      margin: 15px auto 0;
      color: $black;

      @media (min-width: 480px) {
        width: 230px;
      }

      @media (min-width: 768px) {
        width: 185px;
        margin: 30px auto;
      }
    }

    &--ps {
      margin-top: 20px;

      span {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 900;
        color: $black;
      }
    }

    &--bold {
      font-weight: 900;
      color: $black;
      margin-top: 5px;
    }

    &--orange {
      color: $orange;
      text-align: right;
    }
  }

  &__button {
    @extend %button;
    margin: 20px auto 0;
    @media (min-width: 768px) {
      width: 150px;
      height: 30px;
      font-size: 9px;
    }
  }
}

@media (min-width: 768px) {
  .act__title-container {
    width: 50%;
    position: relative;
  }
}
