.block-three{
  width: 320px;
  margin: 0 auto;
  font-family: $main-font;
  color: $main-words-color;
}

.heading {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.headin-item {
  width: 165px;
  height: 35px;
  font-size: 9px;
  margin: 0 auto;
  font-weight: 600;
}

.heading-block {
  display: block;
  width: 250px;
  margin: 0 auto;
}

.list-block-value {
  font-size: 9px;
  list-style: square outside;
  color: $button-color; 
}

.capital-letter{
  text-transform: uppercase;
}

.lower-letter{
  text-transform: lowercase;
}

.value{
  color: $main-words-color;
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;
}

.value-item{
  color: $main-words-color;
  font-weight: 900px;
  line-height: 13px;
  background-color: $mark-color;
}

.item-one{
  letter-spacing: 0.9px;
}

.item-two {
  letter-spacing: 0.7px;
}

.describe-value{
  color: $main-words-color;
}

