.bonuse {
  &__title {
    @extend %title;
    width: 200px;
    margin: 0 auto;
  }

  &__about {
    font-family: $main-font;
    color: $main-words-color;
    font-size: $text-font-size - 1;
    width: 60%;
    margin: 20px auto;
    display: flex;
    text-align: left;
    font-weight: 700;
  }

  &__about:before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: $main-words-color;
    margin: 4px 10px;
  }

  &__list-item {
    display: flex;
    width: 180px;
    margin: 20px auto;

    .mark-list-item {
      margin-right: 10px;
    }

    .number {
      font-weight: 900;
      font-size: $title-font-size / 2;
    }

    .mark {
      width: 5px;
      height: 5px;
      background-color: $mark-color;
      margin: 0 5px 0 auto;
    }


  }
}

.background-title--black {
  background: $main-words-color;
  color: $main-logo-color;
}

.about-item__title {
  @extend %secondary-title;
  color: $main-words-color;
  margin-bottom: 10px;
}

.about-item__text {
  font-size: $text-font-size - 2;
}

.form {
  width: 250px;
  height: 230px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  &__input-title {
    font-size: $text-font-size / 2;
    font-weight: 700;
    color: $text-color;
  }

  &__input {
    border: none;
    border-bottom: 1px solid $text-color;
    width: 100%;
    font-weight: 900;
    font-size: $text-font-size - 3;
    color: $main-words-color;
  }
  

  &__input::placeholder {
    font-weight: 900;
    font-size: $text-font-size - 3;
    color: $main-words-color;
  }

  &__button {
    @extend %button;
    width: 115px;
    height: 20px;
    font-size: $text-font-size / 2;
    
  }
}

