.bonus {
  padding: 0 10px;
  margin-top: 35px;

  &__title {
    @extend %title;
    width: 205px;
    margin: 0 auto;

    @media (min-width: 480px) {
      width: 290px;
    }

    span {
      @extend %mark-black;
    }
  }

  &__text {
    @extend %main-think;
    width: 150px;
    margin: 10px auto;

    @media (min-width: 480px) {
      width: 270px;
    }
  }

  &__list {
    @extend %text;
    list-style: none;
    padding: 5px;
    width: 200px;
    margin: 0 auto;

    @media (min-width: 480px) {
      width: 290px;
    }

    .bonus__list-item {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;

      .bonus__list-number {
        font-size: 16px;
        font-weight: 900;
        margin-right: 10px;
        position: relative;

        @media (min-width: 480px) {
          font-size: 25px;
        }

        &::after {
          content: "";
          display: block;
          width: 6px;
          height: 6px;
          background-color: $light-blue;
          position: absolute;
          bottom: 30px;
          right: 5px;
        }
      }

      .bonus__list-text {
        p:first-child {
          text-transform: uppercase;
          font-weight: 900;
        }

        p:last-child {
          margin-top: 5px;

          span {
            @extend %mark-black;
          }
        }
      }
    }
  }

  &__form {
    @extend %text;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 40px;
    width: 250px;
    margin: 20px auto;
    box-shadow: 0 2px 2px 1px rgb(0, 0, 0);

    @media (min-width: 480px) {
      width: 320px;
    }

    label {
      margin-top: 15px;
      color: $light-gray;
    }

    input {
      border: none;
      border-bottom: 1px solid $light-gray;
      width: 100%;
      margin-top: 5px;
    }

    input::placeholder {
      font-size: 6px;
      font-weight: 900;

      @media (min-width: 480px) {
        font-size: 8px;
      }
    }

    button {
      @extend %button;
      margin-top: 30px;
      width: 120px;
      height: 20px;
      font-size: 5px;
      line-height: 8px;

      @media (min-width: 480px) {
        font-size: 9px;
      }
    }

    button:hover {
      color: $orange;
      background-color: $white;
      font-size: 7px;
      border: 1px solid $orange;

      @media (min-width: 480px) {
        font-size: 9px;
      }
    }
  }
}
