.by-the-hand {
    margin: 30px auto;
    text-align: center;

    &__main-title {
        @extend %title;
        text-align: center;
        width: 190px;
        margin: 0 auto;
    }

    &__main-text {
        font-family: $main-font;
        color: $main-words-color;
        font-size: $text-font-size - 1;
        width: 200px;
        margin: 20px auto;
        display: flex;
        text-align: left;
        font-weight: 700;
    }

    &__main-text:before {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background-color: $main-words-color;
        margin: 4px 10px;
    }
}

.by-the-hand-img {
    height: 135px;
    width: 298px;
    overflow: hidden;
    margin: 0 auto;
}

.by-the-hand-img img {
margin-top: -30px;
}

.text-box {
    width: 190px;
    height: auto;
    margin: 10px auto;

    &__title {
        @extend %secondary-title;
        color: $main-words-color;
        width: 150px;
        margin: 20px auto;
        font-weight: 900;
    }

    &__text {
        font-size: $text-font-size;
        text-align: left;
        width: 150px;
        margin: 0 auto;
        display: block;
    }
}