.dry-facts {
  margin-top: 50px;
  padding: 0 10px;
}

.dry-facts_title {
  @extend %title;
  width: 165px;
  margin: 20px auto 0;

  &--first {
    text-align: center;
  }

  &--second {
    margin-top: 15px;
    width: 160px;

    span {
      @extend %mark-black;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.dry-facts_text {
  @extend %text;

  &--first {
    @extend %main-think;
    width: 180px;
    margin: 20px auto 0;
  }

  &--second {
    font-weight: 700;
    width: 300px;
    margin: 15px auto 0;
  }

  &--third {
    color: $gray;
    width: 300px;
    margin: 5px auto 0;

    span {
      @extend %mark-blue;
      font-weight: 700;
    }
  }
}

.dry-facts-list {
  padding-left: 10px;
  width: 270px;
  margin: 30px auto 0;
  list-style: none;
}

.dry-facts-item:not(:first-child) {
  margin-top: 20px;
}

.dry-facts-item_text {
  @extend %text;
  margin-top: 5px;

  &--item-title {
    text-transform: uppercase;
    font-weight: 900;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background-color: $orange;
      position: absolute;
      bottom: 3px;
      left: -15px;
    }

    span {
      font-size: 16px;
    }
  }

  &--item-subtitle {
    @extend %mark-blue;
    font-weight: 800;
  }

  &--item-description {
    color: $gray;
    width: 80%;
  }
}

.dry-facts_image {
  display: block;

  width: 300px;
  margin: 35px auto 0;
}
