.dry-facts {
  margin-top: 50px;
  padding: 0 10px;

  @media (min-width: 480px) {
    padding: 0 20px;
  }

  @media (min-width: 768px) {
    display: flex;
    padding: 0 30px;
    position: relative;
  }
}

.dry-facts__graph {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    right: 0;
    bottom: -10px;
    z-index: -1;
  }
}

.dry-facts_title {
  @extend %title;
  width: 165px;
  margin: 20px auto 0;

  &--first {
    text-align: center;

    @media (min-width: 480px) {
      width: 100%;
    }
  }
}

.dry-facts_text {
  @extend %text;

  &--first {
    @extend %main-think;
    width: 180px;
    margin: 20px auto 0;

    @media (min-width: 480px) {
      width: 250px;
    }

    @media (min-width: 768px) {
      width: 130px;
    }
  }
}

.dry-facts-list {
  padding-left: 10px;
  width: 270px;
  margin: 30px auto 0;
  list-style: none;

  @media (min-width: 480px) {
    width: 380px;
  }

  @media (min-width: 768px) {
    width: 50%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.dry-facts-item {
  @media (min-width: 768px) {
    width: 45%;
    margin: 0;
  }
}

.dry-facts-item:not(:first-child) {
  margin-top: 20px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.dry-facts-item_text {
  @extend %text;
  margin-top: 5px;

  &--item-title {
    text-transform: uppercase;
    font-weight: 900;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background-color: $orange;
      position: absolute;
      bottom: 3px;
      left: -15px;

      @media (min-width: 768px) {
        display: none;
      }
    }

    span {
      font-size: 16px;
    }
  }

  &--item-subtitle {
    @extend %mark-blue;
    font-weight: 800;
  }

  &--item-description {
    color: $gray;
    width: 80%;
  }
}

@media (min-width: 768px) {
  .dry-facts__head {
    width: 30%;
  }

  .order-last {
    order: 1;
    padding-top: 10px;
  }
}
