.except-numbers {
  padding: 0 10px;

  .except-numbers_image {
    display: block;
    width: 300px;
    margin: 35px auto 0;

    @media (min-width: 480px) {
      width: 440px;
    }

    @media (min-width: 768px) {
      width: auto;
      margin-top: 0;
    }
  }

  .except-numbers__title {
    @extend %title;
    width: 165px;
    margin: 20px auto 0;

    &--second {
      margin-top: 15px;
      width: 160px;

      @media (min-width: 480px) {
        width: 230px;
      }

      span {
        @extend %mark-black;
        font-size: 12px;
        line-height: 16px;

        @media (min-width: 480px) {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }

  .except-numbers_title {
    @extend %title;
    text-align: center;
    margin: 25px auto 0;
    width: 200px;

    span {
      @extend %mark-black;
    }

    @media (min-width: 480px) {
      width: 280px;
    }

    @media (min-width: 768px) {
      margin-top: 0;
      margin-bottom: 25px;
      text-align: left;
      width: 210px;
    }

    @media (min-width: 960px) {
      width: 260px;
    }
  }

  .except-numbers__text {
    @extend %text;

    &--second {
      font-weight: 700;
      width: 300px;
      margin: 15px auto 0;

      @media (min-width: 480px) {
        width: 100%;
      }
    }

    &--third {
      color: $gray;
      width: 300px;
      margin: 5px auto 0;

      @media (min-width: 480px) {
        width: 100%;
      }

      span {
        @extend %mark-blue;
        font-weight: 700;
      }
    }
  }

  .except-numbers_text {
    @extend %main-think;
    width: 200px;
    margin: 9px auto;

    @media (min-width: 480px) {
      width: 240px;
    }
  }

  .except-numbers_list {
    list-style: none;
    padding: 5px 0 0 25px;
    width: 300px;
    margin: 0 auto;

    @media (min-width: 480px) {
      width: 410px;
    }

    @media (min-width: 768px) {
      width: 100%;
    }
  }

  .except-numbers_item {
    margin-top: 15px;
  }

  .except-numbers_item-title {
    @extend %text;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      background-color: $black;
      position: absolute;
      top: 5px;
      left: -11px;

      @media (min-width: 480px) {
        width: 6px;
        height: 6px;
        top: 7px;
        left: -15px;
      }
    }
  }

  .except-numbers_item-description {
    @extend %text;
    margin-top: 8px;
    width: 80%;
  }
}

@media (min-width: 768px) {
  .except-numbers {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-top: 30px;
  }

  .except-numbers__image-container {
    width: 40%;
  }

  .except-numbers__info {
    width: 40%;
  }
}
