.four-steps {
  padding: 0 10px;
  margin-top: 20px;

  @media (min-width: 768px) {
    padding: 30px;
    position: relative;
  }

  &_title {
    @extend %title;
    width: 145px;
    margin: 0 auto;

    @media (min-width: 480px) {
      width: 200px;
    }

    @media (min-width: 960px) {
      width: 300px;
    }

    span {
      @extend %mark-black;
    }
  }

  .four-steps__bg {
    display: none;

    @media (min-width: 768px) {
      display: block;
      position: absolute;
      top: 0;
      z-index: -1;
      // right: 0;
    }

    &--step {
      right: 0;
    }

    &--four {
      right: 10%;
    }
  }

  &_text {
    @extend %text;

    &--main {
      @extend %main-think;
      width: 205px;
      margin: 10px auto;

      @media (min-width: 480px) {
        width: 290px;
      }

      @media (min-width: 768px) {
        width: 150px;
        margin-top: 20px;
      }
    }

    &--orange {
      color: $orange;
      font-weight: 700;
      width: 190px;
      margin: 25px auto 0;
      position: relative;

      @media (min-width: 480px) {
        width: 300px;
      }

      @media (min-width: 768px) {
        margin: 0 0 0 auto;
        width: 50%;
      }

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 1px;
        background-color: $black;
        transform: rotate(125deg);
        position: absolute;
        left: -30px;
        top: 12px;

        @media (min-width: 480px) {
          width: 25px;
        }

        @media (min-width: 768px) {
          top: 5px;
        }
      }
    }

    &--black {
      font-weight: 700;
      width: 200px;
      margin: 10px auto;

      @media (min-width: 480px) {
        width: 300px;
      }

      @media (min-width: 768px) {
        width: 15%;
        text-transform: uppercase;
        font-weight: 900;
      }
    }
  }

  .steps {
    padding: 1px;
    width: 190px;
    margin: 0 auto;
    list-style: none;

    @media (min-width: 480px) {
      width: 250px;
    }

    @media (min-width: 768px) {
      width: 45%;
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      display: flex;
      @extend %text;
      margin-top: 20px;

      @media (min-width: 768px) {
        margin: 0 30px 30px 0;
        width: 40%;
      }

      &_number-container {
        max-width: 25px;
        max-height: 15px;
        margin-right: 5px;
      }

      &_number {
        font-size: 16px;
        font-weight: 900;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 5px;
          height: 5px;
          background-color: $light-blue;
          position: absolute;
          bottom: -10px;
          right: 5px;

          @media (min-width: 480px) {
            width: 7px;
            height: 7px;
            bottom: -13px;
          }
        }
      }

      &_title {
        text-transform: uppercase;
        font-weight: 900;
      }

      &_description {
        margin-top: 3px;
      }
    }
  }

  &_image {
    display: block;
    width: 300px;
    margin: 35px auto 0;

    @media (min-width: 480px) {
      width: 440px;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  .todo {
    @extend %list;
  }

  &_button {
    @extend %button;
    margin: 30px auto 0;

    @media (min-width: 768px) {
      position: absolute;
      left: 11%;
      top: 90%;
      margin: 0;
      width: 150px;
      height: 30px;
      font-size: 9px;
    }
  }
}

@media (min-width: 768px) {
  .four-steps__first {
    display: flex;
    justify-content: space-around;
  }

  .four-steps__title-container {
    width: 45%;
    position: relative;
  }

  .four-steps__second {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}
