.header {
  background: url("../../images/bg_header.png") $dark-blue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;
  height: 410px;

  @media (min-width: 480px) {
    height: 550px;
  }

  @media (min-width: 768px) {
    position: relative;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 5px 13px 10px;

  @media (min-width: 480px) {
    padding: 20px;
  }

  @media (min-width: 768px) {
    padding: 30px;
  }

  @media (min-width: 960px) {
    padding: 40px;
  }
}

.navigation_button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 15px;
  background-image: url("../../images/burg_menu.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header-info__title {
  @extend %title;
  color: $white;
  font-size: 20px;
  width: 160px;
  margin: 0 auto;
  line-height: 26px;

  @media (min-width: 480px) {
    font-size: 30px;
    width: 235px;
    line-height: 39px;
  }

  @media (min-width: 768px) {
    font-size: 44px;
    width: 100%;
    line-height: 56px;
  }

  @media (min-width: 960px) {
    font-size: 56px;
    width: 100%;
    line-height: 70px;
  }
}

.header-info__start {
  @extend %text;
  color: $white;
  font-weight: 700;
  width: 260px;
  margin: 25px auto;
  text-transform: uppercase;
  text-align: center;
  position: relative;

  @media (min-width: 480px) {
    width: 340px;
  }

  @media (min-width: 768px) {
    margin-top: 130px;
    width: 250px;
  }

  @media (min-width: 960px) {
    margin-top: 80px;
  }
}

.header-info__start::before {
  content: "<";
  font-size: 15px;
  color: $light-blue;
  position: absolute;
  top: 0px;
  left: -15px;
}

.header-info__start::after {
  content: "/>";
  font-size: 15px;
  color: $light-blue;
  position: absolute;
  bottom: 0px;
  right: -15px;
}

.header-info__open {
  @extend %text;
  color: $white;
  text-transform: uppercase;
  font-weight: 900;
  width: 240px;
  margin: 0 auto;
  margin-top: 100px;

  @media (min-width: 480px) {
    width: 325px;
  }

  @media (min-width: 768px) {
    width: 40%;
    margin: 0 0 0 auto;
  }
}

.header-info__mathematic {
  @extend %text;
  color: $light-gray;
  width: 240px;
  margin: 5px auto;

  @media (min-width: 480px) {
    width: 325px;
  }

  @media (min-width: 768px) {
    width: 40%;
    margin: 5px 0 0 auto;
  }
}

.header-button {
  @extend %button;
  margin: 25px auto;

  @media (min-width: 480px) {
    margin-top: 40px;
  }

  @media (min-width: 768px) {
    position: absolute;
    margin: 0;
    left: 15%;
    bottom: 10%;
  }
}

.header__image {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    height: 480px;
    bottom: 0;
    right: 0;
  }

  @media (min-width: 960px) {
    right: 10%;
  }
}

@media (min-width: 768px) {
  .header-info {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
  }

  .header__title-container {
    width: 50%;
    text-align: center;
  }

  .header__info-container {
    width: 50%;
    z-index: 2;
    position: relative;
  }
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
