.header {
  background-image: url("../../images/bg_header.png");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 320px;
  height: 415px;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 16px 13px;
}

.navigation_button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 15px;
  background-image: url("../../images/burg_menu.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header-info__title {
  @extend %title;
  color: $white;
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
}
