.important {
  &__title {
    @extend %title;
    width: 100px;
    margin: 20px auto;
    text-align: center;

    @media (min-width: 480px) {
      font-size: $text-font-size + 8;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__title--768px {
    display: none;

    @media (min-width: 768px) {
      display: block;
      width: 150px;
      margin: 0 auto;
      font-size: $title-font-size - 3;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    padding: 50px;
  }

  &__price {
    background-color: $header-footer;
    width: 245px;
    height: 190px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 480px) {
      width: 370px;
      height: 270px;
    }

    @media (min-width: 768px) {
      width: 260px;
      height: 190px;
      margin: 0;
    }
  }

  &__present {
    font-weight: 700;
    font-size: $text-font-size;
    width: 200px;
    margin: 20px auto;

    @media (min-width: 480px) {
      font-size: $text-font-size + 4;
      width: 260px;
    }

    @media (min-width: 768px) {
      font-size: $text-font-size - 1;
      width: 160px;
      
    }

    
  }

  &__present--regular {
    font-weight: 400;
  }

  &__present--orange {
    color: $button-color;
  }

  &__button {
    @extend %button;
    width: 200px;
    margin: 0 auto;
    display: block;
    font-size: $text-font-size - 3;

    @media (min-width: 480px) {
      width: 295px;
      height: 40px;
      font-size: $text-font-size;
    }

    @media (min-width: 768px) {
      width: 200px;
      height: 28px;
      font-size: $text-font-size - 3;
      
    }

  }
}

.actual-price {
  display: flex;
  align-items: center;
  color: $main-logo-color;
  font-size: $text-font-size;
  margin-bottom: 10px;

  @media (min-width: 480px) {
    font-size: $text-font-size + 3;
  }

  @media (min-width: 768px) {
    font-size: $text-font-size;
    width: 140px;
  }
}

.price-title {
  width: 60px;
  line-height: 15px;

  @media (min-width: 480px) {
    font-size: $text-font-size + 3;
    width: 90px;
  }

  @media (min-width: 768px) {
    font-size: $text-font-size - 1;
    width: 60px;
  }
}

.line {
  min-width: 30px;
  height: 1px;
  background-color: $main-logo-color;
  margin: 10px;
}

.price-title--background-aqua {
  background-color: $mark-color;
  font-size: $text-font-size;
  line-height: 10px;
  font-weight: 700;

  @media (min-width: 480px) {
    font-size: $text-font-size + 3;
  }

  @media (min-width: 768px) {
    font-size: $text-font-size - 1;
  }
}

.today-price {
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    width: 140px;
  }
}

.this-is-price {
  font-size: $title-font-size;
  color: $main-logo-color;

  @media (min-width: 480px) {
    font-size: $text-font-size * 4;
  }

  @media (min-width: 768px) {
    font-size: $title-font-size - 3;
  }
}

.price-box {
  color: $main-logo-color;
}
