.many-people {
  padding: 0 10px;
  margin-top: 25px;

  @media (min-width: 768px) {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 510px;
  }

  @media (min-width: 960px) {
    height: 650px;
    margin-top: 0;
  }

  &_title {
    @extend %title;
    width: 135px;
    margin: 0 auto;

    @media (min-width: 480px) {
      width: 190px;
    }

    @media (min-width: 960px) {
      width: 210px;
    }
  }

  &_image {
    display: block;
    text-align: center;
    margin-top: 25px;

    @media (min-width: 768px) {
      width: 45%;
      margin: 0 auto;
    }
  }

  &_text-container {
    width: 250px;
    margin: 0 auto;

    @media (min-width: 480px) {
      width: 335px;
    }

    @media (min-width: 768px) {
      width: 45%;
      margin: 15px auto;
    }
  }

  &_text {
    @extend %text;

    &--main {
      @extend %main-think;
      width: 250px;
      margin: 10px auto;

      @media (min-width: 480px) {
        width: 335px;
      }

      @media (min-width: 768px) {
        margin: 20px auto;
        width: 220px;
      }

      @media (min-width: 960px) {
        width: 270px;
      }
    }

    &--bold {
      font-weight: 700;
      margin-top: 10px;
    }

    &--gray {
      color: $gray;
      margin-top: 8px;
    }
  }

  &_subtitle {
    @extend %text;
    text-transform: uppercase;
    font-weight: 900;
    width: 60%;
    line-height: 13px;
    margin-top: 5px;

    span {
      @extend %mark-black;
    }
  }
}

@media (min-width: 768px) {
  .many-people__title-container {
    width: 45%;
  }

  .order {
    order: 1;
  }
}
