.many-people {
  padding: 0 10px;
  margin-top: 25px;

  &_title {
    @extend %title;
    width: 135px;
    margin: 0 auto;

    @media (min-width: 480px) {
      width: 190px;
    }
  }

  &_image {
    display: block;
    text-align: center;
    margin-top: 25px;
  }

  &_text-container {
    width: 250px;
    margin: 0 auto;

    @media (min-width: 480px) {
      width: 335px;
    }
  }

  &_text {
    @extend %text;

    &--main {
      @extend %main-think;
      width: 250px;
      margin: 10px auto;

      @media (min-width: 480px) {
        width: 335px;
      }
    }

    &--bold {
      font-weight: 700;
      margin-top: 10px;
    }

    &--gray {
      color: $gray;
      margin-top: 8px;
    }
  }

  &_subtitle {
    @extend %text;
    text-transform: uppercase;
    font-weight: 900;
    width: 60%;
    line-height: 13px;
    margin-top: 5px;

    span {
      @extend %mark-black;
    }
  }
}
