.study-goit {
    text-align: center;
    margin-top: 20px;
    margin: 20px auto;

    &__main-title {
        @extend %title;
        text-align: left;
        margin: 0 auto;
        width: 280px;
        font-size: $title-font-size - 18;

        @media (min-width:480px) {
            font-size: $title-font-size - 12;
            width: 420px;
        }
    }

    &__biggest-university {
    text-align: left;
    width: 200px;
    margin: 15px auto;

    @media (min-width:480px) {
        width: 300px;
        }
    }

    &__biggest-university p {
    font-family: $main-font;
    font-size: $text-font-size - 1;

    @media (min-width:480px){
        font-size: $text-font-size + 3;
        }
    }

    &__number-one {
    font-family: $main-font;
    color: $main-words-color;
    font-size: $text-font-size - 1;
    display: flex;
    margin: 20px auto;
    width: 200px;
    text-align: left;
    font-weight: 700;
    }

    &__number-one:before {
        content: "";
        display: block;
        margin: 4px 10px;
        background-color: $main-words-color;
        width: 30px;
        height: 3px;
    }
}

.university-background {
    margin: 30px auto;
}

.title-black {
    width: 200px;
    margin: 13px auto;
    text-align: left;

    &--span {
    font-family: $main-font;
    color: white;
    background-color: black;
    font-size: 8.23pt;
    text-align: left;
    }
}

.box-title {
    font-family: $main-font;
    font-size: $text-font-size - 1;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    text-align: left;
    width: 200px; 
    margin-bottom: 15px;

    @media (min-width: 480px) {
    font-size: $text-font-size + 3.5;
    width: 300px;
    }
}

.goforit {
    position: relative;
    width: 200px;
    height: auto;
    margin: 15px auto;
}

.undp {
    background-image: url(../../images/undp.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 
    
    overflow: overlay;
}

.education-it {
    background-image: url(../../images/education-it.png);
    background-repeat: no-repeat;
    background-position-x: right;
}

.it-awards {
    background-image: url(../../images/it-awards.png);
    background-repeat: no-repeat;
    background-position-x: right;
}

.box-text {
    font-size: $text-font-size - 1;
    text-align: left;
    width: 170px;

    &__span {
        font-weight: bold;
    }

    @media (min-width: 480px) {
        font-size: $text-font-size + 3.5;
        width: 255px;
    }
}

.awards {
    width: 200px;
    margin: 30px auto;
   
    &__box {
        width: 200px;
        height: auto;
        margin: 30px auto;
        position: relative;
    }

    &__box:first-of-type {
        margin-top: 0;
    }
}

.box__number {
    width: 50px;
    height: 25px;
    transform-origin: center center;
    transform: rotate(270deg);
    color: #f2f2f2;
    margin-top: 10px;  
    font-family: $main-font;
    font-size: 26px;
    font-weight: 900;
    position: absolute;
    right: 30px;
    top: -7px;
}
    
    



