.earn {
  padding: 30px 10px 0;

  &__image {
    display: block;
    margin-top: 20px;
  }

  &__text {
    @extend %text;

    &--first {
      font-weight: 900;
    }

    &--second {
      @extend %main-think;
      text-transform: uppercase;
      width: 60%;
      margin: 20px auto 0;
    }

    &--third {
      font-weight: 900;
      text-transform: uppercase;
      margin-top: 25px;
    }

    &--fourth {
      color: $orange;
      width: 60%;
      font-weight: 700;
      margin: 30px auto;
      text-align: center;
    }
  }

  &__title {
    @extend %title;
    width: 60%;
    margin: 10px auto;

    span {
      @extend %mark-black;
    }
  }

  &__list {
    @extend %text;
    padding: 0 30px;
    font-weight: 700;
    list-style: none;
  }

  &__list-item {
    margin-top: 10px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      background-color: $black;
      position: absolute;
      top: 4px;
      left: -15px;
    }

    p {
      color: $gray;

      b {
        color: $black;
      }
    }
  }
}
