.earn {
  padding: 30px 10px 0;

  @media (min-width: 480px) {
    padding: 30px 20px 0;
  }

  &__image {
    display: block;
    width: 300px;
    margin: 20px auto 0;

    @media (min-width: 480px) {
      width: 440px;
    }
  }

  &__text {
    @extend %text;

    &--first {
      font-weight: 900;
    }

    &--second {
      @extend %main-think;
      text-transform: uppercase;
      width: 180px;
      margin: 20px auto 0;

      @media (min-width: 480px) {
        width: 250px;
      }
    }

    &--third {
      font-weight: 900;
      text-transform: uppercase;
      width: 300px;
      margin: 25px auto 0;

      @media (min-width: 480px) {
        width: 440px;
      }
    }

    &--fourth {
      color: $orange;
      width: 180px;
      font-weight: 700;
      margin: 30px auto;
      text-align: center;

      @media (min-width: 480px) {
        width: 260px;
      }
    }
  }

  &__title {
    @extend %title;
    width: 175px;
    margin: 10px auto;

    span {
      @extend %mark-black;
    }

    @media (min-width: 480px) {
      width: 245px;
    }
  }

  &__list {
    @extend %text;
    padding: 0 30px;
    width: 300px;
    margin: 0 auto;
    font-weight: 700;
    list-style: none;

    @media (min-width: 480px) {
      width: 440px;
    }
  }

  &__list-item {
    margin-top: 10px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      background-color: $black;
      position: absolute;
      top: 4px;
      left: -15px;
    }

    p {
      color: $gray;

      b {
        color: $black;
      }
    }
  }
}
