.time-to-earn {
  padding: 12px;

  .time-to-earn_text {
    @extend %text;
    width: 80%;
    margin: 18px 0;

    &--start {
      font-weight: 700;
    }

    &--finish {
      color: $orange;
      text-align: center;
      font-weight: 700;
      margin: 20px auto 0;
      width: 60%;
    }
  }

  .time-to-earn_image {
    display: block;
    margin: 0 auto;
  }

  .time-to-earn_before-title {
    @extend %main-phrase;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .time-to-earn_before-title:before {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    background-color: $black;
    margin-left: -5px;
    margin-right: 15px;
  }

  .time-to-earn_title {
    @extend %title;
    width: 60%;
    margin: 8px auto 0;

    span {
      @extend %mark-black;
    }
  }

  .time-to-earn_list-tilte {
    @extend %main-phrase;
    margin-top: 28px;
  }

  .time-to-earn_list {
    list-style: none;
    padding: 0 23px;

    &-item {
      @extend %text;
      margin-top: 10px;
      position: relative;
      letter-spacing: 1px;

      p {
        color: $gray;

        b {
          color: $black;
        }
      }
    }

    &-item:before {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      background-color: $black;
      position: absolute;
      top: 5px;
      left: -10px;
    }
  }
}
