.videocourse {
  padding: 0 10px;
  margin-top: 40px;

  @media (min-width: 768px) {
    position: relative;
  }

  &__title {
    @extend %title;
    width: 205px;
    margin: 0 auto;

    @media (min-width: 480px) {
      width: 285px;
    }

    @media (min-width: 768px) {
      width: 200px;
    }

    @media (min-width: 960px) {
      width: 300px;
    }
  }

  &__text {
    @extend %text;

    &--main {
      @extend %main-think;
      margin: 10px auto 0;
      width: 160px;

      @media (min-width: 480px) {
        width: 240px;
      }

      @media (min-width: 768px) {
        width: 200px;
        margin-top: 30px;
      }
    }

    &--list-title {
      text-transform: uppercase;
      font-weight: 900;
      width: 255px;
      margin: 30px auto 0;

      @media (min-width: 480px) {
        width: 360px;
      }

      @media (min-width: 768px) {
        width: 15%;
        margin: 2% auto;
      }
    }
  }

  &__image {
    display: block;
    width: 300px;
    margin: 23px auto 0;

    @media (min-width: 480px) {
      width: 440px;
    }

    @media (min-width: 768px) {
      width: auto;
      margin: 0;
    }

    &--second {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }
  }

  &__list {
    @extend %text;
    list-style: none;

    &--first {
      width: 200px;
      margin: 0 auto;

      @media (min-width: 480px) {
        width: 230px;
      }

      @media (min-width: 768px) {
        margin: 0;
        margin-top: 20px;
        width: 35%;
      }

      li {
        width: 80%;
        margin-top: 15px;

        @media (min-width: 480px) {
          width: 100%;
        }

        @media (min-width: 768px) {
          display: flex;
          justify-content: space-between;
        }

        p:first-child {
          span {
            text-transform: uppercase;
            font-weight: 700;
            @extend %mark-black;
          }
        }

        p:last-child {
          margin-top: 5px;
          color: $gray;
          font-weight: 700;

          @media (min-width: 768px) {
            margin-top: 0;
            margin-left: 10px;
          }
        }
      }
    }

    &--second {
      @extend %list;
    }
  }

  &__prices-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 20px;

    @media (min-width: 768px) {
      position: absolute;
      right: 7%;
      bottom: 0%;
    }
  }

  &__prices-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    width: 100px;

    @media (min-width: 480px) {
      font-size: 18px;
      line-height: 25px;
      width: 120px;
      margin: 20px;
    }

    @media (min-width: 768px) {
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      width: 100px;
      margin: 0;
    }

    span {
      @extend %mark-blue;
    }
  }

  &__prices {
    @extend %text;

    .videocourse__price {
      font-weight: 900;
      text-transform: uppercase;
      line-height: 25px;

      &--old {
        font-size: 11px;
        text-decoration: line-through;
        color: $gray;

        @media (min-width: 480px) {
          font-size: 16px;
        }

        @media (min-width: 768px) {
          font-size: 11px;
        }
      }

      &--new {
        span {
          font-size: 25px;

          @media (min-width: 480px) {
            font-size: 35px;
          }

          @media (min-width: 768px) {
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .videocourse__first {
    display: flex;
    justify-content: space-evenly;
  }

  .videocourse__second {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .videocourse__third {
    display: flex;
    margin-top: 30px;
  }
}
