.videocourse {
  text-align: center;
  margin-top: 20px;


  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
  }

  &__head {
    @media (min-width: 768px) {
      width: 50%;
    }
  }

  &__title {
    @extend %title;

    @media (min-width:480px) {
      font-size: $text-font-size + 8;
    } 
  }

  &__question {
    font-family: $main-font;
    color: $main-words-color;
    font-size: $text-font-size - 1;
    width: 170px;
    margin: 20px auto;
    display: flex;
    text-align: left;
    font-weight: 700;

    @media (min-width:480px) {
      font-size: $text-font-size + 4;
      width: 230px;
    
    }
  }

  &__question:before {
    content: "";
    display: block;
    min-width: 20px;
    height: 2px;
    background-color: $main-words-color;
    margin: 4px 10px;
  }

  &__img {
    @media (min-width: 768px) {
      order: -1;
      width: 270px;
      height: 170px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;        
    }

    &--nomobile {
      display: none;
      @media (min-width: 768px) {
        display: flex;
        order: 0;
        height: auto;
      }
    }
  }

  &__about {
    text-align: left;
    width: 200px;
    margin: 0 auto;

    @media (min-width:480px) {
      width: 255px;
    }
  }

  &__about p {
    font-family: $main-font;
    font-size: $text-font-size;

    @media (min-width:480px) {
      font-size: $text-font-size + 3
    }
    
  }

  &__get {
    @media (min-width: 768px) {
      display: flex;
    }
  }
}

.secondary-title {
  @extend %secondary-title;
  width: 200px; 
  margin: 15px 0;

  @media (min-width:480px) {
    font-size: $text-font-size + 3
  }
  

  &--black-font {
    @extend %secondary-title;
    color: $main-words-color;
    width: 250px;
    margin: 20px auto;

    @media (min-width:480px) {
      font-size: $text-font-size + 3;
      width: 315px;
    }

    @media (min-width: 768px) {
      width: 140px;
    }
  }
 
  .background-title {
    background: $main-words-color;
    line-height: 1.5;
  }
}

.vertical-number {
  width: 30px;
  height: 12px;
  transform-origin: center center;
  transform: rotate(270deg);
  margin-top: 10px;
  background-color: $button-color;
  color: $main-logo-color;
  font-family: $main-font;
  font-size: $text-font-size;

  @media (min-width:480px) {
    width: 40px;
    height: 13px;
    font-size: $text-font-size + 3;
    margin-top: 15px;
  
  }
}

.get-list {
  list-style: none;
  
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    
  }
 
}

.get-list__item {
  display: flex;
  width: 250px;
  margin: 20px auto;
  justify-content: center;

  @media (min-width:480px) {
    width: 260px;
  }

  @media (min-width: 768px) {
    margin: 0;
  }

  &-about {
    text-align: left;
    width: 180px;

    @media (min-width:480px) {
      width: 240px;
    }

    
  }

 
  
}

.main-words {
  font-weight: 700;
  font-size: $text-font-size;
  color: $main-words-color;
  margin-bottom: 10px;

  @media (min-width:480px) {
    font-size: $text-font-size + 3;
  }
}

.notmain-words {
  font-size: $text-font-size;

  @media (min-width:480px) {
    font-size: $text-font-size + 3;
  }
}

.price-today {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 20px auto;

  .about-price {
    width: 100px;
    text-align: left;
    align-self: end;
    margin-right: 10px;

    @media (min-width:480px) {
      width: 150px;
    }
    
  }
}

.background-title--blue {
  background: $mark-color;
  color: $main-words-color;
  font-size: $text-font-size + 2;

  @media (min-width:480px) {
    font-size: $text-font-size + 8;
  }

}

.old-price {
  font-size: $text-font-size + 2;
  color: #3c3b40;
  text-decoration: line-through;
  font-weight: 700;
  margin-bottom: 10px;

  @media (min-width:480px) {
    font-size: $text-font-size + 7;
  }
}

.new-price {
  font-weight: 900;
  font-size: $text-font-size + 2;
  text-transform: uppercase;

  @media (min-width:480px) {
    font-size: $text-font-size * 2;
  }
}

.big-price {
  font-size: $text-font-size * 2.5;

  @media (min-width:480px) {
    font-size: $title-font-size + 6;
  }
  
}